body {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.6;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

main {
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
}

body {
    margin: 0;
    text-align: center;
    background-color: #fff;;
}

header {
    background-color: #262626;
    min-height: 250px;
}

header .banner,
nav .dropdown-content,
nav {
    background-color: #1d1d1d;
}

header .banner {
    display:inline-block;
    margin: 4em;
    padding: 2em;
}

h1 a,
nav a,
header {
    color: #fff;
    text-decoration: unset;
}

h1 {
    font-size: xxx-large;
    text-transform: uppercase;
}

h2 {
    text-transform: capitalize;
}

nav {
    text-transform: uppercase;
}

h3 {
    text-align: left;
}

p {
    text-align: justify;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.xxl {
    font-size: xx-large;
}

a[href^="mailto:"] {
	overflow-wrap: break-word;
}