{{- define "img"}}<img src="{{.Src}}" alt="{{.Alt}}">{{end -}}
{{- define "link"}}<a href="{{.Href}}">{{.Name}}</a>{{end -}}
<!doctype html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="Description" content="{{.Site.Name}} | {{.Site.Description}}">
	<title>{{.Page.Name}}{{if ne .Page.Name .Site.Name}} | {{.Site.Name}}{{end}}</title>
	<link rel="shortcut icon" href="data:image/x-icon;base64," type="image/x-icon">
	<style>
{{template "index.css"}}
{{template "nav.css"}}
	</style>
</head>

<body>

	<header>
		<div class="banner">
			<h1><a href=".">{{.Site.Name}}</a></h1>
			<h2>{{.Site.Description}}</h2>
		</div>
		{{template "nav.html" .}}
	</header>

	<main>
		<h3>{{.Page.Name}}</h3>
		<img src="images/enlighten-logo.png" alt="{{.Site.Name}} logo with words" class="inline">
		{{- template "content" .Page.Data}}
	</main>

	<footer>
	</footer>

</body>

</html>
