label[for="menu-cb"] {
    font-size: xx-large;
}

label[for="menu-cb"],
nav a {
    display: block;
    padding: 0.3em;
    text-align: left;
}

.dropdown-content>* {
    margin-left: 1em;
}

nav a:hover {
    filter: invert(0.5);
    outline-style: dashed;
    outline-width: 3px;
}

.menu-toggle:not(:checked)+.menu,
.menu-toggle {
    display: none;
}

@media screen and (min-width: 900px) {
    label[for="menu-cb"] {
        display: none;
    }

    .menu>*,
    .menu-toggle:not(:checked)+.menu {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content>* {
        margin-left: 0;
    }

    .menu> :not(:first-child):not(.dropdown-content)::before {
        content: "/";
        filter: invert(0.6);
        margin-right: 1em;
    }
}