{{define "event"}}
<div class="event">
<p>
<img src="images/events/2021/001_clarence_moriwaki.jpg" alt="photo of Clarence Moriwaki">
In March of 1942, 227 Japanese Americans were forcibly removed from their homes on Bainbridge Island by the US Army. Starting with this small community, a national strategy began, with more than 120,000 Japanese American men, women, and children forcibly removed and incarcerated during World War II. <strong>Clarence Moriwaki</strong> shared the story of Bainbridge Island—the origin point of the Japanese American exclusion—to provide a human, historical account of this national tragedy, and to ask the question: Are there parallels to what's happening in America now? Clarence used historical images, including historical and current propaganda, to explore the fear, racism, and failure of political leadership that led to these unconstitutional actions during World War II, and why we must not let it happen again. His presentation was recorded and is posted on our "Zoom Videos and Resources" page.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Clarence Moriwaki</strong>
<p>Clarence Moriwaki's presentation can be seen by clicking on the link below:</p>
<p><iframe src="https://www.youtube.com/embed/bNPHn_c5rRk" title="Clarence Moriwaki 1 15 21 SD 480p" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
