{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2021/002_douglas_soule.jpg" alt="photo of Douglas Soule">
<strong>Douglas Soule</strong> has been diving for more than 50 years. He took us on a pictorial journey to some of the many places on the planet he has visited with a major emphasis on SE Asia, Indonesia and the Philippines. In, Through the Lens, he portrays the amazing life, beauty, fragility and biologically diverse understanding of the unique inhabitants of the underwater world. He now focuses his underwater adventures by diving his bucket list of the top 50 dive locations in the world thereby preserving a historical record, educating people by sharing his knowledge and images and creating lasting memories of the planet's greatest natural treasure. Doug also shared his personal observations and research of the impending demise of the oceans and underwater inhabitants.
</p>
</div>
{{end}}
{{define "resources"}}
{{end}}
