{{define "event"}}
<div class="event">
<p>
<img src="images/events/2021/003_jane_cornman.jpg" alt="photo of Jane Cornman">
<strong>Jane Cornman, RN, PhD</strong> presented on NEAR (Neuroscience, Epigenetics, ACEs & Resilience) Science - How to support our families and community to be WELL. She discussed the most recent research on ACEs - Adverse Childhood Experiences, the potential long-term effects in each category of mind, body and spirit - and how each one of us can be an active participant in helping reduce the frequency of these events, reduce retraumatization across the lifespan, and support healing and resilience long term. Book recommendations are on the "Zoom Videos and Resources" page as is her presentation.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Jane Cornman, RN, PhD</strong>
<p>Jane Cornman's presentation can be viewed at this link.</p>
<p><iframe src="https://www.youtube.com/embed/bdJFlzFlqio" title="Jane Cornman, NEAR and ACEs, 3-19-21   SD 480p" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<p>Resources:</p>
<p><u>Childhood Disrupted: How Your Biography Becomes Your Biology and How You Can Heal</u> by Nakazawa, Donna Jackson (2016).</p>
<p><u>Resilient: How To Grow an Unshakable Core of Calm, Strength, and Happiness </u>by Rick Hanson (2018).</p>
<p><u>Hope Rising: How the Science of Hope Can Change Your LIfe </u>by Casey Gwinn and Chan Hellman (2019).</p>
<p><u>Sitting Like a Frog: Mindfulness Exercises for Kids (and Their Parents)</u> by Eline Snel</p>
<p><u>Paper Tigers</u> - this documentary by KPJR Films, follows six students over the course of a school year as a new trauma-sensitive program is implemented (2015).</p>
</div>
{{end}}
