{{define "event"}}
<div class="event">
<p>
<img src="images/events/2021/004_rowan_braybrook.jpg" alt="photo of Rowan Braybrook">
Madagascar is the fourth largest island on earth and world-renowned for its plant and animal diversity, including its lemurs. Its people are known for their unique and complex culture, and the land produces vanilla, rosewood, and sapphires. Yet many of its iconic species are endangered, while many of its people face the challenges of deep poverty. What are some of the stories that can help us understand this fascinating country? Former Peace Corps volunteer, <strong>Rowan Braybrook</strong>, took us on a virtual trip to the other side of the world, and discussed the history, culture, and ecology of the country that had been called "the eighth continent." Her presentation, book and video recommendations will be posted soon on our "Zoom Videos and Resources"; page.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Rowan Braybrook</strong>
<p>Rowan's presentation on Madagascar: Encountering the Eighth Continent can be viewed at this link</p>
<p><iframe src="https://www.youtube.com/embed/fDJci-vNJoU" title="Rowan Braybrook - Madagascar: Encountering the Eighth Continent" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<p><u>Books</u></p>
<ol>
<li><u>Song of the Dodo</u> by David Quammen</li>
<li><u>Beyond the Rice Fields</u> by Naivo</li>
</ol>
<p><u>Videos</u></p>
<ol>
<li>Madagasikara - Documentary: "The perilous lives of three strong, tireless mothers working to create better futures for their children." (IMDB)</li>
<li>Madagascar - Produced by the BBC Natural History Unit and Animal Planet and narrated by David Attenborough, the three-part series focuses on the landscape and wildlife of the island of Madagascar. </li>
<li>Parts Unknown - Anthony Bourdain, Travel and food show on CNN. Madagascar is featured in Season 5, episode 5.</li>
</ol>
</div>
{{end}}
