{{define "event"}}
<div class="event">
<p>
<img src="images/events/2021/005_zelda_foxall.jpg" alt="photo of Zelda Foxall wearing a space-suit">
<strong>Zelda Foxall</strong> returned to Enl!ghten to portray Dr. Mae Jemison, the first black woman to travel into space where she served as a mission specialist aboard the Space Shuttle Endeavour. Zelda has been doing in-character vignettes of historically significant African American Women since 2008, when she co-founded the performing arts company "Cause It's Art." Through Zelda, these women step forward to tell their own stories of how they overcame the tremendous odds of poverty, racism, sexism and ignorance to climb to the top of their respective fields or just to step up boldly to change the way things were. Her presentation can be viewed at our "Zoom Videos and Resources" page.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Zelda Foxall</strong>
<p>Zelda's presentation on Dr. Mae Jemison can be viewed at this link:</p>
<p><iframe width="676" height="380" src="https://www.youtube.com/embed/OhPFyb3wlj8" title="Zelda Foxall portraying Dr  Mae Jemison" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
