{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2021/006_janine_schutt.jpg" alt="photo of Janine Schutt">
<strong>Janine Schutt</strong> took us on a virtual road trip in her presentation "Birds of the Badlands and Beyond; Road Trip to North Dakota." In July 2021, award-winning wildlife photographer Janine Schutt took a 6-state, 2-week, 4,000-mile birding trip to western North Dakota—the perfect place for social distancing. She shared stories and photos of scenery, birds, and critters large and small from her solo adventure through Washington, Idaho, Montana, Wyoming, South Dakota, and North Dakota. The colorful slideshow was highlighted by Theodore Roosevelt National Park, multiple national wildlife refuges and other birding hotspots.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Janine Schutt</strong>
<p><iframe src="https://www.youtube.com/embed/5da9FmoBXVM" title="Janine Schutt: Birds of the Badlands and Beyond" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<p><u>Resources</u></p>
<p>National Geographic Field Guides</p>
<p><a href="https://ebird.org">ebird.org</a> - visit website to learn of current "hot spots," build your birding skills, bird identification and more.</p>
</div>
{{end}}
