{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2021/009_merritt_long.jpg" alt="photo of Merritt Long">
<strong>Merritt Long</strong> shared stories of growing up in the South during the Jim Crow era and how his childhood, segregation and the Civil Rights movement shaped his life. After attending Morehouse College in Atlanta, he moved to Seattle where he began his 37-year career with the State of Washington - serving as Executive Director or Chair of four agencies; serving on community boards; and mentoring youth. He was interviewed by Gloria Colvin-Jackson who earlier presented to the Enl!ghten community on The Great Migration and the history of Black settlement in Bremerton. His presentation, book, My View from the Back of the Bus, and other resources are available at our "Zoom Videos and Resources" page.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Merritt Long</strong>
<p><iframe src="https://www.youtube.com/embed/N_f2_dXPq8I" title="Merritt Long, My View from the Back of the Bus" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<p><u>Books</u>:</p>
<ol>
<li>My View from the Back of the Bus by Merritt Long. Signed copies can be purchased directly from Merritt Long at <a href="mailto:longmm7777@gmail.com">longmm7777@gmail.com</a></li>
<li>From the Front Porch: The World View of an African American Anthropologist on Spirituality, Evolution and Multiculturalism by Forrest Davis</li>
</ol>
<p><u>Film</u>:</p>
<p><em><u>13th</u></em> is a 2016 documentary film by Ava DuVernay. The film explores the "intersection of race, justice, and mass incarceration in the United States." It is titled after the Thirteenth Amendment to the US Constitution adopted in 1865, which abolished slavery throughout the United States and ended involuntary servitude except as a punishment for conviction of a crime. Available on Netflix.</p>
</div>
{{end}}
