{{define "event"}}
<div class="event">
<p>
<img src="images/events/2021/010_kate_larson.jpg" alt="photo of Kate Larson">
<strong>Kate Larson</strong>, new owner of Ballast Books in downtown Bremerton, gave recommendations for books to read
<img class="right" src="images/events/2021/010_suzanne_selfors.jpg" alt="photo of Suzanne Selfors">
and books to give for the holidays. She was joined by <strong>Suzanne Selfors</strong>, owner of Liberty Bay Books in Poulsbo. Librarian <strong>Sarah Jaffa</strong>, Adult FictionSelector at the Kitsap Regional
<img class="right" src="images/events/2021/010_sarah_jaffa.jpg" alt="photo of Sarah Jaffa">
Library, discussed library and bookstore roles in building community around reading and she shared some of her favorite genre picks as well. Book recommendations and a link to the recorded event are posted at our "Zoom Videos and Resources" page.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Books for the Holidays</strong>
<p><iframe width="676" height="380" src="https://www.youtube.com/embed/m5G9Cs6oiWY" title="Book Recommendations for the Holidays" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<p>Below are book recommendations shared at our Enl!ghten event on 11/19/21. For more book ideas and further information about these books, view the recorded video by clicking on the link above.</p>
<p>Recommendations from Suzanne Selfors of Liberty Bay Books</p>
<ol>
<li>Facing the Mountain: A True Story of Japanese American Heroes in WWII by Daniel James Brown</li>
<li>Homewaters: A Human and Natural History of Puget Sound by David B. Williams</li>
<li>Fuzz: When Nature Breaks the Law by Mary Roach</li>
<li>Notes from the Garden: Creating a Pacific Northwest Sanctuary by Madeline Wilde</li>
<li>The Final Case by David Guterson - due out in January 2022</li>
<li>Dear Little One by Nina Laden - Children's Book</li>
<li>The Legend of the Christmas Witch by Dan Murphy - Children's Book</li>
</ol>
<p>Recommendations from Kate Larson of Ballast Books</p>
<ol>
<li>Cooking at Home: Or, How I Learned to Stop Worrying About Recipes (And Love My Microwave) by David Chang and Priya Krishna</li>
<li>Immune: A Journey Into the Mysterious System That Keeps You Alive by Philipp Dettmer</li>
<li>The Opposite of Butterfly Hunting: The Tragedy and The Glory of Growing Up: A Memoir by Evanna Lynch</li>
<li>Poison for Breakfast by Lemony Snicket</li>
<li>The Apollo Murders by Chris Hadfield</li>
<li>Light from Uncommon Stars by Ryka Aoki</li>
<li>A Marvelous Light (The Last Binding Book 1) by Freya Marske</li>
<li>Iron Widow by Xiran Jay Zhao</li>
<li>All These Bodies by Kendare Blake</li>
<li>Skin of the Sea by Natasha Bowen</li>
<li>A Home Under the Stars by Andy Chou Musser - Children's Book</li>
<li>Change Sings: A Children's Anthem by Amanda Gorman and Loren Long - Children's Book</li>
<li>More recommendations at this link: <a href="https://www.ballastbookco.com/enlighten-kitsap-holiday-recommendations">https://www.ballastbookco.com/enlighten-kitsap-holiday-recommendations</a></li>
</ol>
<p>Recommendations from Sarah Jaffa, KRL</p>
<ol>
<li>Day Zero by C. Robert Cargill</li>
<li>Finlay Donovan Is Killing It by Elle Cosimano</li>
<li>Rules for Visiting by Jessica Francis Kane</li>
<li>The Twisted Ones by T Kingfisher</li>
<li>Band of Sisters by Lauren Willig</li>
<li>The Chain by Adrian McKinty</li>
<li>The Flatshare by Beth O'Leary</li>
<li>Shiver by Allie Reynolds</li>
<li>The Guncle by Steven Rowley</li>
<li>My Mistress' Eyes are Raven Black by Terry Roberts</li>
</ol>
</div>
{{end}}
