{{define "event"}}
<p>
<img src="images/events/2018/001_cheryl_stumbo.jpg" alt="photo of Cheryl Stumbo">
<strong>Cheryl Stumbo</strong> was critically injured during the 2006 mass shooting at the Jewish Federation of Greater Seattle. Now she is an advocate for preventing gun violence nationwide. Cheryl uses her personal perspective to help bring about change in preventing gun violence. She is an advocate for social justice and civic engagement. Cheryl has had to face this tragedy and make adaptations in her life. She hopes greater visibility of survivors and victims of gun violence will accelerate social/political change - change towards more responsible gun ownership in our country. Cheryl is dedicated to finding a pragmatic middle ground on the issue of gun control as she works as a Survivors Organizing Manager for the non-profit Everytown for Gun Safety. See her power point and list of resources posted on our website under "Links and Resources.
</p>
{{end}}
{{define "resources"}}
<p>
<strong>Cheryl Stumbo</strong>
<p>View Cheryl's power point presentation here: <a href="resources/events/2018/001_cheryl_stumbo.pptx">Cheryl Stumbo powerpoint</a></p>
<p>Cheryl's contact information and recommended links:</p>
<ol>
<li>Facebook: Cheryl Stumbo</li>
<li>Everytown for Gun Safety email: cstumbo@everytown.org</li>
<li>Personal Email: castumbo@gmail.com</li>
<li>LinkedIn: Cheryl Stumbo</li>
<li>Link to Alliance for Gun Responsibility: <a href="https://gunresponsibility.org">https://gunresponsibility.org</a></li>
</ol>
</p>
{{end}}
