{{define "event"}}
<p>
<img src="images/events/2018/002_marty_bishop.jpg" alt="hand and holding Earth, half desert wasteland, half green paradise">
<strong>Marty Bishop</strong>, a retired Dental Hygienist, has devoted her time as an activist for climate change since 2006. She is a group leader of the Port Orchard Chapter of Citizens' Climate Lobby and a member of the Tri-County Climate Action. Marty presented on "What Can We Do About Climate Change." She discussed steps we can all take to mitigate global warming through political, technological, personal, and cultural approaches while focusing on hope over despair. We can work together to transition to a fossil fuel free future. View Marty&#8217;s power point and videos at "Links and Resources" on our website.
</p>
{{end}}
{{define "resources"}}
<p>
<strong>Marty Bishop</strong>
<p>Marty&#8217;s power point presentation along with video clips can be viewed here:  <a href="https://docs.google.com/presentation/d/1b0_f-sleXXOOBfU7REcEHfNCCGH4LZXXuX-46oe21Ds/edit?usp=sharing">https://docs.google.com/presentation/d/1b0_f-sleXXOOBfU7REcEHfNCCGH4LZXXuX-46oe21Ds/edit?usp=sharing</a></p>
<p><strong>Marty's Recommended Resources for Taking Action:</strong></p>
<ol>
<li><a href="http://thesolutionsproject.org/">http://thesolutionsproject.org/</a></li>
<li><a href="http://www.results.org/">http://www.results.org/</a></li>
<li><a href="https://citizensclimatelobby.org/">https://citizensclimatelobby.org/</a></li>
<li><a href="https://jobscleanenergywa.com/">https://jobscleanenergywa.com/</a></li>
<li><a href="http://www.powerpastcoal.org/">http://www.powerpastcoal.org/</a></li>
<li><a href="http://www.onegreenplanet.org/">http://www.onegreenplanet.org/</a></li>
<li><a href="https://solutions.thischangeseverything.org/">https://solutions.thischangeseverything.org/</a></li>
<li><a href="https://www.forksoverknives.com/">https://www.forksoverknives.com/</a></li>
<li><a href="https://www.youtube.com/channel/UCi6RkdaEqgRVKi3AzidF4ow/featured">https://www.youtube.com/channel/UCi6RkdaEqgRVKi3AzidF4ow/featured</a></li>
<li><a href="http://www.gzcenter.org/">http://www.gzcenter.org/</a></li>
<li><a href="http://www.drawdown.org/solutions">http://www.drawdown.org/solutions</a></li>
<li><a href="https://www.yaleclimateconnections.org/">https://www.yaleclimateconnections.org/</a></li>
</ol>
</p>
{{end}}
