{{define "event"}}
<p>
<img src="images/events/2018/003_oanh_truong.jpg" alt="photo of Oanh Truong">
<strong>Dr. Oanh Truong</strong>, with The Doctors Clinic, shared her journey from war torn Vietnam in 1979, after the Communists took over, to America. At age 12, with a few of her siblings, she made the harrowing six-day passage across the China Sea in an open wooden boat to a refugee camp in Malaysia. After one year, she immigrated to Washington State to pursue the life her mother wished for her, never seeing her again. She learned English, attended the University of Washington, and fulfilled her dream of becoming a doctor. Dr. Truong's experience of growing up without clean water or plumbing in her village has led her to WaterAid, an international NGO working to improve access to clean drinking water throughout the world www.wateraidamerica.org, which she plans to devote more time to after retirement.
</p>
{{end}}
{{define "resources"}}
{{end}}
