{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2018/004_carol_arnold.jpg" alt="photo of Carol Arnold">
Seattle attorney <strong>Carol Arnold</strong> presented her late husband, Jim Compton's book, "Spirit in the Rock: The fierce Battle for Modoc Homelands."; Fought amid lava beds, the 1873 Modoc War was fierce, bloody, and unjust. This riveting narrative captured the conflict's dramatic battles, betrayals, and devastating end. It also delved into underlying causes and secret schemes by the Applegate family and others to seize Modoc ancestral territory along what is now the California-Oregon border. The story of "Captain Jack" Kintpuash did not end with his execution in 1873. Author Jim Compton followed this fascinating historical figure through the trials, victories, defeats, and ongoing controversies that define him in Spirit in the Rock.
</p>
</div>
{{end}}
{{define "resources"}}
{{end}}
