{{define "event"}}
<p>
<img src="images/events/2018/005_janine_schutt.jpg" alt="photo of Janine Schutt">
<strong>Janine Schutt</strong>, past president of Kitsap Aududon Society and avid wildlife photographer, presented on the eruption of Mount St. Helens and the years since. She has taken more than 30 trips into the Blast Zone over the last fourteen years while photographing the scenery and wildlife. She has observed 100 species of birds within the devastated area from the catastrophic eruption of 1980. Some of these species are seldom found in western Washington, but have taken a liking to the open country of the Blast Zone. Janine posts her data to ebird.org and (according to ebird) is the foremost birder of the Mount St. Helens National Volcanic Monument. Janine is the new bird columnist for the West Sound Home &amp; Garden magazine. Visit her website at: <a href="http://janineschuttnaturephotography.com">http://janineschuttnaturephotography.com</a> and see recommended birding resources at our Links and Resources page.
</p>
{{end}}
{{define "resources"}}
<p>
<strong>Janine Schutt</strong>
<p>See Janine's stunning Mt. Saint Helen's photography at: <a href="https://www.janineschuttnaturephotography.com/Nature/MountSaintHelensNVM/">https://www.janineschuttnaturephotography.com/Nature/MountSaintHelensNVM/</a></p>
<p><strong>Recommended Apps for Birding:</strong></p>
<ul>
<li>iBird Pro Birds North America (Mitch Waite Group2)</li>
<li>Audubon Bird Guide</li>
<li><a href="https://www.birdweb.org">www.birdweb.org</a></li>
<li><a href="https://www.allaboutbirds.org">www.allaboutbirds.org</a></li>
<li><a href="https://www.ebird.org">www.ebird.org</a> (bird sightings website)</li>
<li>To view Janine's ebird postings, click on the "Explore" tab, then "Explore Hotspots." Type in "St. Helens" and click on the hotspot you would like to view.  Here are a few of her most memorable lists:</li>
</ul>
<ol>
<li><a href="https://ebird.org/view/checklist/S30824615">https://ebird.org/view/checklist/S30824615</a></li>
<li><a href="https://ebird.org/view/checklist/S38405081">https://ebird.org/view/checklist/S38405081</a></li>
<li><a href="https://ebird.org/view/checklist/S38405114">https://ebird.org/view/checklist/S38405114</a></li>
</ol>
</p>
{{end}}
