{{define "event"}}
<p>
<img src="images/events/2018/006_melody_eisler.jpg" alt="photo of Melody Sky Eisler">
<strong>Melody Sky Eisler</strong>, Port Townsend Public Library Director and former manager of the Silverdale branch of the Kitsap Regional Library, has a Master's Degree in Library and Information Science from the University of Washington, and a Bachelor of Fine Arts. She previously worked as a public arts professional in Boise, Idaho, where she was also a librarian. In Idaho, she was awarded the prestigious Idaho Woman Making History award for her activist artwork. She was honored as one of Kitsap Peninsula Business Journal's 40 Under Forty in 2012 for her work with community building in her position at the library, involvement with Leadership Kitsap as a 2013 graduate, and work as the chairwoman of the Kitsap County Arts Board. Melody shared her passion for reading, book recommendations, and the science behind why reading fiction is good for us! Visit the "Links and Resources" page on this website for recommendations.
</p>
{{end}}
{{define "resources"}}
<p>
<strong>Melody Sky Eisler</strong>
<p>The following are resources Melody mentioned in her presentation:</p>
<ul>
<li>Kitsap Regional Library’s Summer of Learning program <a href="https://www.krl.org/summer" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.krl.org/summer&amp;source=gmail&amp;ust=1529024766020000&amp;usg=AFQjCNEVGXGD6eeF1iZjHvA4mT5lpoD7cQ">https://www.krl.org/summer</a></li>
<li>Psychology Today: "The Real-Life Benefits of Reading Fiction" <a href="https://www.psychologytoday.com/us/blog/your-future-self/201806/the-real-life-benefits-reading-fiction">https://www.psychologytoday.com/us/blog/your-future-self/201806/the-real-life-benefits-reading-fiction</a></li>
<li>The Great American Read by PBS: <a href="https://www.pbs.org/the-great-american-read/home/">https://www.pbs.org/the-great-american-read/home/</a></li>
<li>Reading list: <a href="https://bento.cdn.pbs.org/hostedbento-prod/filer_public/greatamericanread/TGAR_BookChecklist_2018.pdf" >https://bento.cdn.pbs.org/hostedbento-prod/filer_public/greatamericanread/TGAR_BookChecklist_2018.pdf</a></li>
<li>88 books to enjoy this summer: the TED reading list <a href="https://ideas.ted.com/88-books-to-enjoy-this-summer-the-ted-reading-list/?utm_campaign=social&amp;utm_medium=referral&amp;utm_source=facebook.com&amp;utm_content=ideas-blog&amp;utm_term=education" >https://ideas.ted.com/88-books-to-enjoy-this-summer-the-ted-reading-list/?utm_campaign=social&amp;utm_medium=referral&amp;utm_source=facebook.com&amp;utm_content=ideas-blog&amp;utm_term=education</a></li>
<li>Longevity Research and Social Groups: Live Longer… Join a Book Club! <a href="https://www.uq.edu.au/news/article/2016/02/want-longer-life-join-club">https://www.uq.edu.au/news/article/2016/02/want-longer-life-join-club</a></li>
<li>BMJ Open- research article "Social group memberships in retirement are associated with reduced risk of premature death: evidence from a longitudinal cohort study"<a href="http://bmjopen.bmj.com/content/6/2/e010164">http://bmjopen.bmj.com/content/6/2/e010164</a></li>
<li>The New Yorker: "Can Reading Make You Happier?" <a href="https://www.newyorker.com/culture/cultural-comment/can-reading-make-you-happier">https://www.newyorker.com/culture/cultural-comment/can-reading-make-you-happier</a></li>
<li>We Need Diverse Books <a href="https://diversebooks.org/">https://diversebooks.org/</a></li>
<li>You can view Melody's power point here: <a href="resources/events/2018/006_melody_eisler_the_joys_of_summer_reading_2018_v.2.pptx">The Joys of Summer Reading 2018 v.2</a></li>
<li>Melody's book selections
<ul>
<li>Short Nights of a Shadow Catcher:  The Epic Life and Immortal Photographs of Edward Curtis by Timothy Egan</li>
<li>Less by Andrew Sean Greer  (Pulitzer Prize for fiction 2018)</li>
<li>Exit West by Mohsin Hamid</li>
<li>Make Trouble:  Standing Up, Speaking Out and Finding the Courage to Lead by Cecile Richards</li>
</ul>
</li>
<li>Lisa Lechuga, KRL librarian's recommendation:  Brown Girl Dreaming by Jacqueline Woodson  (winner of 2014 National Book Award) young people's literature</li>
<li>Audience book selections:
<ul>
<li>A Man Called Ove by Fredrik Backman</li>
<li>Immortal Irishman:  The Irish Revolutionary Who Became an American Hero by Timothy Egan</li>
<li>A Higher Call:  An Incredible True Story of Combat and Chivalry in the War-Torn Skies of World War II by  Adam Makos and Larry Alexander</li>
<li>My Old Man and the Mountain:  A Memoir by Leif Whittaker</li>
<li>Kalimantaan by C.S. Godshalk</li>
</ul>
</li>
</ul>
</p>
{{end}}
