{{define "event"}}
<p>
<img src="images/events/2018/007_eugenie_jones.jpg" alt="photo of Eugenie Jones">
<strong>Eugenie Jones</strong> shared her journey from a coal miner&#8217;s daughter from West Virginia to post graduate degree, MBA, business owner, consultant, and marketing specialist. She was known as the Fitness Guru with a weekly column in the Kitsap Sun, and has a reputation as a challenging trainer. Her days are now filled with jazz. Eugenie was the Jazz winner in 2013 for NW Recording of the Year and in 2015 NW Vocalist of the Year. She sings and scats her way vivaciously through mainstream jazz, but also draws listeners inside contemporary story lines, sharing original tunes that have earned her recognition as a cleverly gifted lyricist. She sang an original composition, "A Good Day" and the well known ballad, "Summertime," A Capella. Her power point can be viewed from a link at our "Links and Resources" tab. Please visit her website: <a href="http://eugeniejones.com">eugeniejones.com</a>.
</p>
{{end}}
{{define "resources"}}
<p>
<strong>Eugenie Jones</strong>
<p>You can view Eugenie's power point presentation by clicking here: <a href="resources/events/2018/007_eugenie_jones.pptx">Eugenie Jones.</a> Be sure to visit her website at: <a href="http://www.eugeniejones.com">http://www.eugeniejones.com</a></p>
</p>
{{end}}
