{{define "event"}}
<div class="event">
<p>
<img src="images/events/2018/008_laura_daugereau.jpg" alt="photo of Laura Daugereau">
<strong>Laura Daugereau</strong> was the first woman from Washington to run and finish the Iditarod and is now a long time Iditarod competitor. She shared her passion about this race of endurance and fortitude, and brought Buttercup, one of her canine companions. When not racing, she works for her family's construction business. At the end of each summer, she packs "life" up in her truck and trailer, heads to Montana to set up base camp for training and racing. What began as a hobby progressed to a passion and way of life. "There is not a thing in the world that compares to running through the cold dark night and seeing the sun rise and shine off the backs of sixteen of your best friends while silently moving down the trail the same way their ancestors have done for hundreds of years!"
</p>
</div>
{{end}}
{{define "resources"}}
{{end}}
