{{define "event"}}
<p>
<img src="images/events/2018/009_anna_laurie.jpg" alt="photo of Anna Laurie">
<strong>Judge Anna Laurie</strong> discussed her career as a Superior Court Judge in Kitsap County and her particular interest - Mental Health jurisprudence. She explained the complexities in working with individuals having mental health challenges and shared examples from her career presiding over these cases. Judge Laurie graduated magna cum laude with a Bachelor of Science degree from the University of Washington, then later returned to UW where she earned her Juris Doctorate. She practiced law in Bremerton from 1982 to 2001 when she was elected to the Superior Court and addressed issues that included civil suits, felonies, juvenile cases, child custody, and adoptions. In her capacity as a Superior Court Judge, she was able to fulfill her great interest and desire to work closely with people.
</p>
{{end}}
{{define "resources"}}
<p>
<strong><!--NAME--></strong>
<!--resources-->
</p>
{{end}}
