{{define "event"}}
<p>
<img src="images/events/2018/010_scott_freeman.jpg" alt="photo of Scott Freeman">
<strong>Scott Freeman, PhD</strong>, lecturer at the University of Washington, and recipient of a UW Distinguished Teaching Award, discussed his book <i>Saving Tarboo Creek, One Family's Quest to Heal the Land </i>. His wife, Susan illustrated the book and shared stories of her upbringing in Wisconsin and the legacy of her grandfather, Aldo Leopold, ecologist, conservationist, and author of the classic, <i>A Sand County Almanac.</i> The Freemans discussed their tireless efforts of transforming Tarboo Creek on the Olympic Peninsula from a broken drainage ditch into its once productive salmon habitat. Their book "artfully blends the story of the family's efforts with profound lessons about how we can live more constructive, fulfilling, and natural lives by engaging with the land rather than exploiting it." Be sure to see Scott's power point presentation at our "links and resources" tab.
</p>
{{end}}
{{define "resources"}}
<p>
<strong>Scott Freeman</strong>
<p>Please click on this link to view Scott's power point presentation: <a href="https://drive.google.com/file/d/1_c2Lpe_OaClBP_fue2QdFQHCk0v_2GoX/view?usp=sharing">https://drive.google.com/file/d/1_c2Lpe_OaClBP_fue2QdFQHCk0v_2GoX/view?usp=sharing</a></p>
<p>His book, <em>Saving Tarboo Creek, One Family's Quest to Heal the Land</em>, is available at local bookstores and <a href="https://amazon.com">Amazon.com</a>.</p>
</p>
{{end}}
