{{define "event"}}
<div class="event">
<p>
<img src="images/events/2018/011_suzanne_droppert.jpg" alt="photo of Suzanne Droppert">
<strong>Suzanne Droppert</strong>, owner of Liberty Bay Books, brought and talked about her favorite books across all age groups for Holiday Reading and Giving. Liberty Bay Books started as Shotwell's Bookstore in 1977 and was purchased in 1996 by Suzanne, who decided to leave the corporate rat race to create what she calls a "third place" to converse with friends besides home and work. Liberty Bay and Suzanne are proud to be a local, independent bookstore serving the community in which they live. They offer books, e-books, cards, gifts, game nights, book clubs, and events with favorite authors. Visit their Poulsbo store at 18881 Front Street and their new downtown Bremerton store managed by Nathan Hattrick at 409 Pacific Ave. Visit our "links and resources" page for reading recommendations and be sure to visit her website at: <a href="https://www.libertybaybooks.com">https://www.libertybaybooks.com</a>
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Suzanne Droppert</strong>
<p>Book recommendations from Suzanne Droppert, owner of Liberty Bay Books</p>
<ul>
<li>Enger, Leif: <u>Virgil Wander</u></li>
<li>Zusak, Marcus: <u>Bridge of Clay</u> *</li>
<li>Gooley, Tristan: <u>The Nature Instinct</u></li>
<li>Romano, Craig: <u>Urban Trails</u></li>
<li><u>Ottolenghi Simple</u> (a cook book)</li>
<li>Bennett, Allan: <u>The Uncommon Reader</u></li>
<li>Arden, Katherine: <u>The Bear and the Nightingale</u> (Russian Mythology)</li>
<li>Grann, David: <u>The White Darkness</u></li>
<li>Obama, Michelle: <u>Becoming</u>*</li>
<li>Owens, Delia: <u>Where the Crawdads Sing</u> *</li>
<li>Moriarty, Liane: <u>Nine Perfect Strangers</u></li>
<li>Arikawa, Hiro: <u>The Traveling Cat Chronicles</u></li>
<li>Hagy, Alyson: <u>Scribe</u></li>
<li>Lonely Planet: <u>Van Life</u></li>
</ul>
<p>Suzanne recommended local author, Sheila Roberts</p>
<p>* Particularly good audio books</p>
<p>Children's or young adult books:</p>
<ul>
<li>Sima, Jessie: <u>Not Quite Narwahl</u></li>
<li>Laden, Nina and Castrillon, Melissa: <u>Yellow Kayak</u></li>
<li>Gilbert, Leah: <u>A Couch for Llama</u></li>
<li>Harrison, Vashti: <u>Little Dreamers: Visionary Women Around the World</u></li>
</ul>
<p>Suzanne recommended young adult author, Jason Reynolds</p>
<p>Audience recommendations:</p>
<ul>
<li>Westover, Tara: <u>Educated</u></li>
<li>Preston, Douglas: <u>Lost City of the Monkey Gods</u></li>
</ul>
</div>
{{end}}
