{{define "event"}}
<p>
<img src="images/events/2016/001_carol_cassella.jpg" alt="photo of Carol Cassella">
<strong>Carol Cassella</strong> is a practicing physician and the national bestselling author of three novels, Gemini, Healer, and Oxygen. Ms. Cassella discussed her recent research trip to Turkey and Jordon for her upcoming novel. She visited with Syrian doctors who were working within Syrian borders, refugees, and a Doctor's Without Border Hospital. She shared her feelings as to why she and so many other physicians are also authors in her presentation, "Words at the heart of health care. How fiction reflects one doctor's reality" <a href="http://www.carolcassella.com">http://www.carolcassella.com</a>
</p>
{{end}}
{{define "resources"}}
{{end}}
