{{define "event"}}
<p>
<img src="images/events/2016/002_vicki_collins.jpg" alt="photo of Vicki Collins">
<strong>Vicki Collins</strong>, Founder and Vice President of <strong>OurGEMS</strong> helps public school students achieve educational excellence. Her eight year tenure on the Bremerton School Board is a part of Vicki’s lifelong pattern of community service. She talked about the importance of creating motherhood/sisterhood communities and her work with Our Girls Empowered through Mentoring and Service (OurGEMS); improving life for girls in our community by empowering them to be leaders in their community through mentorship, character development, and asset building; helping girls discover what their individual skills and passions are, and working with them to develop those interests to their fullest potential. Vicki also serves as the Executive Director for Bremerton African American Ministerial Alliance. <a href="http://www.our-gems.org">http://www.our-gems.org</a>
</p>
{{end}}
{{define "resources"}}
{{end}}
