{{define "event"}}
<p>
<img src="images/events/2016/003_league_of_women_voters.jpg" alt="photo of Connie Waddington and Catherine Ahl">
<div>In honor of Womens History Month and during this important election year, <strong>Connie Waddington</strong> and <strong>Catherine Ahl</strong> from the <strong>League of Women Voters</strong>, presented a lively discussion on how women fought for 72 years for the right to vote, why it is so important that we remember the struggle and the importance of using our vote. <a href="http://www.lwv-kitsap.org">http://www.lwv-kitsap.org</a>
<div>
</p>
{{end}}
{{define "resources"}}
{{end}}
