{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2016/004_pennye_nixon.jpg" alt="photo of Pennye Nixon">
<strong>Etta Projects</strong> was created in 2003 to honor the life and humanitarian concerns of <a href="http://www.ettaprojects.org/honoring-etta.aspx">Etta Turner</a> and carry on her legacy of inspiration and caring in Montero, Bolivia. <strong>Pennye Nixon</strong>, mother of Etta, discussed Etta Projects and its work to facilitate and help communities find pathways to sustainable and realistic answers to have their designated needs met. Donated dollars and energy go straight to improve health and support projects that provide clean water, nutritious food, education and income generation.<a href="http://www.ettaprojects.org">http://www.ettaprojects.org</a>
</p>
</div>
{{end}}
{{define "resources"}}
{{end}}
