{{define "event"}}
<p>
<img src="images/events/2016/005_mary_preus.jpg" alt="photo of Mary Preus">
<strong>Mary Preus</strong>, veteran gardener, ardent herbalist, and NW native presented on the Edible Sustainable Home Garden. Mary has shared her love and knowledge of herbs at garden centers, Master Gardener meetings, libraries and garden clubs. She is the former owner the Silver Bay Herb Farm in Bremerton which she tended for nearly twenty years. She is the author of The Northwest Herb Lovers Handbook, Growing Herbs, A Little Book of Herbs for Cooking, and The Leek Cookbook, which have sold more than 20,000 copies. Recommended readings and seed sources can be found under "Links and Resources" on this website.
</p>
{{end}}
{{define "resources"}}
<strong>Mary Preus</strong>
<p>Reading Materials:</p>
<ol>
<li>Albers, John J. <u>Gardening for Sustainability, Albers Vista Gardens of Kitsap</u><i>.</i> Local garden founder's thoughtful take on principles of sustainability, plant choices, pollinators and more, plus history and descriptions of this Bremerton treasure.</li>
<li>Allen, Will. <u>The Good Food Revolution, Growing Healthy Food, People, and Communities.</u> Gotham Books, 2012. Allen is an amazing man whose methods of transforming inner city food deserts into productive farms have attracted national attention.</li>
<li>Bowe, Alice. <u>High Impact Low-Carbon Gardening.</u> Timber Press 2011. English gardener's useful tips on everything from basics of sustainable gardening to choosing eco-friendly materials for paths, structures, and boundaries to substituting new alternatives for classic favorites.</li>
<li>Christopher, Thomas ed. <u>The New American Landscape, Leading Voices on the Future of Sustainable Gardening.</u> Timber Press, 2011. Includes chapters on 'The Sustainable Edible Garden,' Gardening Sustainably with a Changing Climate,' and 'Managing Soil Health.'</li>
<li>Flores, H. C. <u>Food not Lawns, How to Turn Your Yard into a Garden and Your Neighborhood into a Community</u><i>.</i> Chelsea Green Publishing Co. 2006. Chock full of detailed information.</li>
<li>Hemenway, Toby. <u>Gaia's Garden: A Guide to Home-Scale Permaculture</u><i>.</i> Recommended, but I haven't read this one yet.</li>
<li>Prince of Wales, HRH The, and Charles Clover. <u>Highgrove, An Experiment in Organic Gardening and Farming. </u>Simon & Schuster, 1993. Of special note on Prince Charles' organic farm: the reed-bed sewage garden.</li>
<li>Obama, Michelle. <u>American Grown, The Story of the White House Kitchen Garden and Gardens Across America. </u> National Park Foundation, 2012. Our First Lady's leadership in the White House vegetable garden is inspiring.</li>
<li>Rama, Laureen. <u>Eco-Yards, Simple Steps to Earth-Friendly Landscapes</u>. New Society Publishers, 2011. Canadian landscape designer's practical approach on how to design and create beautiful, varied yards that help restore the ecosystem. Specifics on how to shrink your lawn using the 'lasagne' method plus other good stuff.</li>
<li>Ruppenthal, R.J. <u>Fresh Food from Small Places: The Square Inch Gardener's Guide to Year-Round Growing, Fermenting, and Sprouting.</u> Recommended, but I haven't read this one yet.</li>
</ol>
<p>Seed Sources:</p>
<ol>
<li>Baker Creek Heirloom Seed Company, 2278 Baker Creek Road, Mansfield, MO 65704. Telephone <a href="tel:417-924-8917">417-924-8917</a></li>
<li>Irish Eyes Garden Seeds, 5045 Robinson Canyon Road, Ellensburg, WA 98926. <a href="tel:509-933-9826">509-933-9826</a> <a href="https://irisheyesgardenseeds.com">irisheyesgardenseeds.com</a></li>
<li>Native Seeds/SEARCH. web@nativeseeds.org</li>
<li>Nichols Garden Nursery, 1190 Old Salem Rd NE, Albany, OR 97321. <a href="tel:800-422-3985">800-422-3985</a></li>
<li>Renee's Garden, 6060 Graham Hill Road, Felton, CA 95018. <a href="https://www.reneesgarden.com">www.reneesgarden.com</a></li>
<li>Seed Dreams, P.O. Box 106, Port Townsend, WA 98368.</li>
<li>Seed Savers Exchange, 3094 North Winn Road, Decorah, IA 52101. <a href="tel:563-382-5990">563-382-5990</a> <a href="https://www.seedsavers.org">www.seedsavers.org</a></li>
<li>Uprising Seeds, Bellingham, WA. <a href="tel:360-778-3749">360-778-3749</a> <a href="https://uprisingorganics.com">uprisingorganics.com</a></li>
<li>West Coast Seeds Ltd, 3925 64th Street, Delta, BC, V4K 3N2. <a href="tel:1-888-804-8820">1-888-804-8820</a> <a href="https://www.westcoastseeds.com">www.westcoastseeds.com</a>. An excellent company, set up to sell seeds to U.S. customers.</li>
</ol>
{{end}}
