{{define "event"}}
<p>
<img src="images/events/2016/006_eric_rasmussen.jpg" alt="photo of Eric Rasmussen">
<strong>Eric Rasmussen, MD, MDM, FACP</strong>. Dr. Rasmussen has worked decades around the world to alleviate the effects of natural and industrial catastrophic events from becoming life-changing disasters. He is the CEO for Infinitum Humanitarian Systems (IHS), a Washington State company specializing in vulnerability reduction for systems and populations,  <a href="http://www.ihs-i.com/">http://www.ihs-i.com</a>. His organization also leads the Global Disaster Response Team for the Roddenberry Foundation, the philanthropic arm of the Star Trek franchise. Dr. Rasmussen serves as a Permanent Advisor to the UN Secretary-General&#8217;s High Level Expert Panel on Water Disasters. He spoke on <em>Abundance, Can We Provide for All?</em> Click on our &#8220;Links and Resources&#8221; tab for reading recommendations and website links for this upbeat, informative, and optimistic outlook of our future world.
</p>
{{end}}
{{define "resources"}}
<strong>Eric Rasmussen</strong>
<p><strong><u>ERIC RASMUSSEN, MD</u></strong></p>
<p>Recommended readings:</p>
<ol>
<li><u>Abundance</u> by Peter Diamandis</li>
<li><u>The Singularity is Near</u> by Ray Kurzweil</li>
<li><u>The Better Angels of Our Nature </u>by Steven Pinker</li>
<li><u>Gaviotas</u> by Alan Weisman</li>
<li><u>The Future: Six Drivers of Global Change</u> by Al Gore</li>
<li><u>Exponential Organizations</u> by Salim Ismail</li>
<li><u>I am Malala</u> by Malala Yousefzai</li>
</ol>
<p>Links and Bullets:</p>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Eric_Rasmussen_(physician)">Eric Rasmussen, MD, MDM, FACP</a></li>
<li>Moore’s Law</li>
<li>Synthetic Biology</li>
<li>Singularity University</li>
<li>The Sustainable Development Goals</li>
<li>Tesla Powerwall</li>
<li>Water purification by Puralytics.com</li>
<li>Aquaponics</li>
<li>Qatar 2030 Food Security plan by Rand Corporation <a href="http://www.ted.com/speakers/fahad_al_attiya">http://www.ted.com/speakers/fahad_al_attiya</a></li>
<li>Kiwalani Slum, Dar es Salaam, Tanzania</li>
<li>Roddenberry Foundation (the Star Trek franchise) <a href="http://roddenberryfoundation.org/">http://roddenberryfoundation.org/</a></li>
<li>Qualcomm Tricorder X-Prize</li>
<li>Maker Faire</li>
<li>BioCurious</li>
<li>Burning Man <a href="http://burningman.org/">http://burningman.org/</a></li>
<li>Bliss Dance <a href="http://www.reviewjournal.com/news/las-vegas/bliss-dance-sculpture-unveiled-mgm-s-outdoor-entertainment-district-photos">http://www.reviewjournal.com/news/las-vegas/bliss-dance-sculpture-unveiled-mgm-s-outdoor-entertainment-district-photos</a></li>
<li>Khan Academy</li>
<li>iTunesU</li>
<li>edX</li>
<li>Coursera</li>
<li>Udacity</li>
</ol>
{{end}}
