{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2016/007_beth_wilson.jpg" alt="photo of Beth Wilson">
<strong>Beth Wilson and "RESULTS"</strong>. RESULTS began thirty-five years ago as a grassroots movement comprised of passionate, committed volunteers to end global hunger. They soon expanded their focus to stop preventable child and maternal deaths, reduce child malnutrition, and provide universal access to primary education. Their advocacy helped pass the Self-Sufficiency for the Poor Act, a $50 million initiative to provide small loans to the world's poorest families; and later micro-enterprise funding. Their advocacy has led to expanded funding to fight tuberculosis, AIDS, and malaria among a host of related causes. RESULTS and RESULTS Educational Fund use the powerful voices of citizen advocates with research and oversight of U.S. anti-poverty efforts at home to change government priorities and people's lives. <a href="http://results.org">http://results.org</a>. See Beth's Power Point presentation under "Links and Resources" on this website.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Beth Wilson</strong>
<p><a href="/resources/events/2016/007_beth_wilson_RESULTS.pdf">RESULTS Outreach PowerPoint</a></p>
<p>For those interested in signing up for RESULTS Global Action Network, contact Beth at <a href="mailto:bethwilson1950@gmail.com">bethwilson1950@gmail.com</a>; or for the Domestic Action Network, contact Diana Tyree-Eddy at <a href="mailto:autumnguest@hotmail.com">autumnguest@hotmail.com</a></p>
</div>
{{end}}
