{{define "event"}}
<div class="event">
<p>
<img src="images/events/2016/008_chuck_corey.jpg" alt="photo of Chuck_Corey">
Are you prepared for the Big One? <strong>Chuck Corey</strong> discussed steps involved in creating a neighborhood disaster response team. This begins with personal preparedness, expanding to family preparedness, neighborhood, then community. He is a leader in the Community Emergency Response Team (CERT) in Issaquah, WA and a facilitator in the Map Your Neighborhood (MYN) program. He has collected a great deal of information regarding surviving disasters. You can view his entire power point presentation under "Links and Resources" on this website. Detailed lists of supplies to have on hand, recommended readings and websites are presented there.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Chuck Corey</strong>
<p>Click to see Chuck's power point: <a href="resources/events/2016/008_chuck_corey.pptx">Are You Ready For the Big Earthquake</a></p>
</div>
{{end}}
