{{define "event"}}
<div class="event">
<p>
<img src="images/events/2016/009_h_m_bowker.jpg" alt="photo of H. M. Bowker">
<strong>H. M. Bowker</strong>s discussed her novel, <u>I Can't Breathe! Libby, Montana 1958.</u>  Libby was the site of one of the worst environmental disasters in US history. The town was dominated for much of the twentieth century by an asbestos mine. The material from the mine infiltrated the entire town, and hundreds, if not thousands, of people became sick from their exposure to the asbestos. Bowker provides a heartbreaking tableaux of life in Libby, such as the Hardin children playing with asbestos dust that litters their home. She builds on this history to craft a plot that explores both child abuse and corporate exploitation of human life. <a href="http://icantbreathenovel.com">http://icantbreathenovel.com</a>
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>HM Bowker</strong>
<p>Visit HM Bowker's website for more information about her book and updates on asbestos issues in Libby, MT and nationally. <a href="http://icantbreathenovel.com">http://icantbreathenovel.com</a>. She welcomes your thoughts on the subjects presented either through her website or email.</p>
<p>Email: <a href="mailto:hmbowker@icantbreathenovel.com">hmbowker@icantbreathenovel.com</a></p>
</div>
{{end}}
