{{define "event"}}
<div class="event">
<p>
<img src="images/events/2016/010_jim_brennan.jpg" alt="photo of Jim Brennan">
<strong>Jim Brennan</strong>, MS in Marine Science, presented on the substantial degradation of our estuaries due to coastal development and to the poorly regulated shellfish aquaculture industry. His presentation provided an overview of aquaculture practices, environmental impacts, critical data gaps for informed management decision making, and a review of coastal management regulations relevant to shellfish aquaculture expansion. His presentation's focus was to engage and inform the public on how the shellfish industry is affecting publicly owned resources, and what needs to be done to protect those resources. His power point presentation is featured "Links and Resources" at this website.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Jim Brennan</strong>
<p>Click to see Jim's power point presentation on Shellfish Aquaculture: <a href="resources/events/2016/010_jim_brennan.pdf">brennan-pptshb3</a></p>
</div>
{{end}}
