{{define "event"}}
<p>
<img src="images/events/2020/002_gloria_colvin_jackson.jpg" alt="photo of Gloria Colvin-Jackson">
<strong>Gloria Colvin-Jackson</strong> presented on The Great Migration and the history of Black settlement in Bremerton. The Great Migration, beginning in 1916 and lasting until 1970, was the movement of 6 million African Americans from the rural South to the urban Northeast, Midwest and West. A member of one of Bremerton’s notable African American families, Gloria spoke of Black settlement in Kitsap County between 1940 to 1970 and of families who populated our community. She was joined by John Hughes, author of "Lillian Walker: Washington Civil Rights Pioneer."; He shared memories of this extraordinary leader of our community.
{{end}}
{{define "resources"}}
{{end}}
