{{define "event"}}
<p>
<img src="images/events/2020/003_david_nelson.jpg" alt="photo of David Nelson">
<strong>David Nelson</strong>, Kitsap Sun Editor and community member, discussed, "Why local matters: Community journalism and why it's important to maintain our democracy." How we get our news and what news we get has even greater importance in these times of heightened political division, disinformation and isolation due to COVID-19. He spoke about the Kitsap (Bremerton) Sun's 85-year history and its future in the digital age, and why supporting local news matters to everyone.
</p>
{{end}}
{{define "resources"}}
{{end}}
