{{define "event"}}
<div class="event">
<p>
<img src="images/events/2020/004_niran_alagba.jpg" alt="photo of Niran Al-Agba">
<strong>Niran Al-Agba, MD</strong>, presented on how women have been envisioned by men throughout history and why the persistence of gender bias in the workplace matters. She is a graduate of the University of Washington School of Medicine, is an independent pediatrician, and op-ed columnist for the Kitsap Sun. She has practiced medicine for 17 years and is affiliated with multiple area hospitals, including St. Michael's Medical Center and MultiCare Mary Bridge Children's Hospital and Health Center. Her power point and a recording of her presentation is posted at our "Zoom Videos and Resources" page.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Niran Al-Agba</strong>
<p>You can view Dr. Al-Agba's power point presentation by clicking on this link: <a href="https://drive.google.com/file/d/1mRoctQl_pHKmLApjV69sUPK0gTFaH-GO/view?usp=sharing">https://drive.google.com/file/d/1mRoctQl_pHKmLApjV69sUPK0gTFaH-GO/view?usp=sharing</a></p>
<p>Dr. Al-Agba's presentation is now available on YouTube</p>
<p><iframe src="https://www.youtube.com/embed/zhE43KuSa-A" title="Dr. Niran Al Agba 10:16:20" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
