{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2020/005_barbara_stark.jpg" alt="photo of Barbara Stark">
<strong>Barbara Stark</strong> of MWEEP (Masaai Women's Education and Empowerment Program), spoke of this program based in Kitsap County, WA, that seeks to educate Maasai girls and women in Kenya through cost-sharing scholarships and training programs. MWEEP supports women who are working to start their own businesses and/or becoming community leaders. Whether a student or a budding entrepreneur, these determined ladies become independent, successful women. For more information along with how you can help, visit their website at: <a href="https://maasaiwomen.org">https://maasaiwomen.org</a>. You can also view her presentation at YouTube with a link from our "Zoom Videos and Resources" page.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Barbara Stark</strong>
<p>Barbara's powerpoint can be viewed at this link: <a href="/resources/events/2020/005_barbara-stark-MWEEP.pdf">Barbara Stark, MWEEP</a>.</p>
<p>Barbara's presentation is available on YouTube:</p>
<p><iframe src="https://www.youtube.com/embed/XuYnACS6BrA" title="Barbara Stark, MWEEP 11 20 20" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
