{{define "event"}}
<div class="event">
<p>
<img src="images/events/2020/006_ferric_fang.jpg" alt="photo of Ferric Fang">
The COVID-19 pandemic has infected more than 60 million and killed more than 1.4 million people worldwide, and the numbers continue to rise. The impact on individual countries and regions has varied widely, largely as a result of differences in public health measures. Using the most recent and data-driven information, <strong>Dr. Fang</strong> provided an overview of the epidemiology and clinical features of COVID-19 and guidance on how you can minimize your risk of infection until the pandemic can be brought to an end. His presentation is available on YouTube, accessed from our "Zoom Videos and Resources" page.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Ferric Fang</strong>
<p>Dr. Fang's presentation can be viewed on YouTube by clicking the link below.</p>
<p><iframe src="https://www.youtube.com/embed/I316dAsELSw" title="Dr Ferric Fang - COVID-19, 12:11:20" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
