{{define "event"}}
<p>
<img src="images/events/2022/001_kirk_hanson.jpg" alt="photo of Kirk Hanson">
<strong>Kirk Hanson</strong>, Director of Forestry for Northwest Natural Resource Group (NNRG): This Ain't Your Grandfather's Forestry: Forest Management in a Changing Climate. Kirk discussed principles of Ecological Forestry that his organization has been developing to help forests in the Pacific Northwest adapt to a changing climate. By highlighting the myriad forests NNRG manages across the region, Kirk shared examples of forest management strategies that provide alternatives to conventional industrial plantation forestry that has been the standard in the Northwest for decades. To learn more, visit <a href="http://www.nnrg.org">http://www.nnrg.org</a>. Link to this recorded event is posted at our "Zoom Videos and Resources" page.
</p>
{{end}}
{{define "resources"}}
<p>
<strong>Kirk Hanson</strong>
<p><iframe width="676" height="380" src="https://www.youtube.com/embed/IKxG28xNBJk" title="Kirk Hanson, Ecological Forestry" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<p>Website for Northwest Natural Resource Group: <a href="http://www.nnrg.org">http://www.nnrg.org</a></p>
</p>
{{end}}
