{{define "event"}}
<div class="event">
<p>
<img src="images/events/2022/002_roosevelt_smith.jpg" alt="photo of Roosevelt Smith">
<strong>Roosevelt Smith</strong> presented on the State of the Union in Black and White: The Roosevelt Smith Collection of Black Americana, an exhibit currently at the Kitsap History Museum. His collection spans the era of enslaved Africans to current day and highlights slavery, denigration and abuse of black people, the KKK, sundowning laws and redlining, the Black Panther movement, to name a few. Memorabilia reflecting contributions to science, art, politics and music by people of color are also included. Mr. Smith has lived in Kitsap County for over 40 years, is a retired Mental Health Counselor, Vietnam era Air Force Veteran, antique dealer and appraiser, former Commander of Kitsap NABVETS, sensitivity trainer focusing on The African American Experience, and a Member of the Kitsap County Art Board. He was interviewed by Lisa Hope, Marketing Director for the Kitsap History Museum. This recorded event is posted on our "Zoom Videos and Resources" page.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Roosevelt Smith</strong>
<p>The State of the Union in Black and White: The Roosevelt Smith Collection of Black Americana</p>
<p><iframe width="676" height="380" src="https://www.youtube.com/embed/xb2sMjyel5g" title="The State of the Union in Black and White: The Roosevelt Smith Collection of Black Americana" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
