{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2022/004_holly_hughes.jpg" alt="photo of Holly Hughes">
<strong>Holly Hughes</strong> presented on "Turning to Poetry in Hard Times." Poetry often flourishes in times of crisis, whether a pandemic or war. The last two years brought us both—and the reading of poetry is up 30%. It's not surprising; from our earliest days, humans have turned to poetry to sustain our spirits. Poet, essayist and teacher Holly J. Hughes explored how poems offer solace and wisdom in challenging times. She discussed how poetry can heal and she shared examples of poems that can sustain us, focusing on poems by a diverse selection of contemporary poets. Visit the "Zoom Videos and Resources" page for book and resource recommendations. Her presentation will be posted there soon.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Holly Hughes</strong>
<p><iframe src="https://www.youtube.com/embed/ILVU13TmIyI" title="Holly Hughes, Turning to Poetry in Hard Times, 4/15/22" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<p><b>Books by Holly J. Hughes</b></p>
<p>Beyond Forgetting: Poetry and Prose about Alzheimer's Disease. Ed. by Holly J. Hughes, Foreword by Tess Gallagher. Kent State University Press, 2009. $29.95</p>
<p><i>Hold Fast</i>, Empty Bowl Press, 2020. $16.00</p>
<p><i>The Madrona Project: Vol.II,#1: Keep a Green Bough: Voices from the Heart of Cascadia</i>, Edited by Holly J. Hughes Empty Bowl Press, 2021. $16.00</p>
<p><i>Passings</i>, Wandering Aengus Press, 2019. $15</p>
<p><i>The Pen & the Bell: Mindful Writing in a Busy World</i>. Skinner House Books, 2012.</p>
<p><i>Sailing by Ravens</i>, University of Alaska Press, 2014</p>
<p><b>Recent Poetry Anthologies:</b></p>
<p><i>Healing the Divide:Poems of Kindness & Connection</i>. Ed. by James Crews, Preface by Ted Kooser. Green Writers Press, 2019.</p>
<p><i>The Poetry of Impermanence, Mindfulness and Joy</i>. Ed. by John Brehm. Wisdom Publications, 2017.</p>
<p><i>Poetry of Presence: An Anthology of Mindfulness Poems</i>. Ed. by Phyllis Cole-Dai and Ruby Wilson. Grayson Books, 2017.</p>
<p><i>The World Has Need of You: Poems for Connection</i>. Introduction by Alberto Rios. Copper Canyon Press, 2020.</p>
<p><b>Poetry's Role in Social Injustice:</b></p>
<p><i>Poetry and the Language of Oppression: Essays on Politics and Poetics</i> by Carmen Bugan</p>
<p>Below are two recent releases from Copper Canyon Press that take on social justice issues through poetry:</p>
<p>Tishani Doshi's <a href="https://www.coppercanyonpress.org/books/a-god-at-the-door-by-tishani-doshi/">A God at the Door</a>,</p>
<p>Christopher Soto's <a href="https://www.coppercanyonpress.org/books/diaries-of-a-terrorist-by-christopher-soto/">Diary of a Terrorist</a>.</p>
<p><b>Electronic Resources:</b></p>
<p><a href="https://poets.org/academy-american-poets">Academy of American Poets</a>: <a href="https://poets.org">Poets.org</a></p>
<p><a href="https://poets.org/poem-a-day?gclid=Cj0KCQjwr-SSBhC9ARIsANhzu16hReG-POJOJhrS98-vxCYTPqB4CbiIJuQuxPM8qtNoobbxuKWYQ44aAhpMEALw_wcB">Sign up for Poem-a-Day</a></p>
<p><a href="https://poets.org/materials-teachers">Teach This Poem Project</a></p>
<p><a href="https://poets.org/national-poetry-month/?gclid=Cj0KCQjwr-SSBhC9ARIsANhzu17V_giBvxcxLUSsytAPKazU-wWSoguKMoHfe-u-jWiD6yNB-gaJS1EaAgJnEALw_wcB">National Poetry Month</a></p>
<p><a href="https://www.pbs.org/newshour/show/citizen-poets-share-details-of-their-pandemic-lives-in-dear-vaccine">PBS Newshour Interview</a> with Naomi Shihab Nye about the new collection she edited, <a href="https://www.globalvaccinepoem.com/order-the-book">"Dear Vaccine: Global Voices Speak to the Pandemic"</a> along with the <a href="https://www.globalvaccinepoem.com/">website</a> for the project with more information---which invites YOUR participation!</p>
<p>Blog post by Carmen Bugan <a href="https://blog.oup.com/2021/06/why-literature-must-be-part-of-the-language-of-recovery-from-crisis/">"Why Literature Must be Part of the Language of Recovery from Crisis"</a></p>
<p>You can contact Holly at <a href="mailto:hollyjhughes7@gmail.com">hollyjhughes7@gmail.com</a> or check out her website: <a href="https://www.hollyjhughes.com/">http://hollyjhughes.com</a></p>
</div>
{{end}}
