{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2022/005_tyler_mcfarland.jpg" alt="photo of Mcfarland family">
<strong>Gary, Janice, Kelsey and Tyler McFarland</strong> presented an entertaining account of their World Bicycling Adventure and how that experience has influenced other adventures on bikes and afoot. What was life like traveling Around the World for one year on bicycles with two teenagers? Visit their website at: <a href="http://cyclingfar-lands.com/">http://cyclingfar-lands.com</a> for their itinerary and photos.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>The McFarlands</strong>
<p>Visit the the McFarland's website at: <a href="http://cyclingfar-lands.com/">http://cyclingfar-lands.com</a> for their itinerary and photos.</p>
<p>Unfortunately we are unable to post their presentation on our website due to copyright laws regarding songs used in their iMovie.</p>
</div>
{{end}}
