{{define "event"}}
<div class="event">
<p>
<img src="images/events/2022/006_ann_lovejoy.jpg" alt="photo of Ann Lovejoy">
We honored Pride Month with <strong>Ann Lovejoy</strong> and <strong>Eve Palay</strong> in their presentation, The Weird of Gender Queer. Ann, known as a garden designer and writer, is the founder of the Transfriending support group for family and friends of people in gender transition and exploration. Ann is the mother of a trans daughter and a cis-gender
<img class="right" src="images/events/2022/006_eve_palay.jpg" alt="photo of Eve Palay">
son and a delighted grandmother. Eve Palay is a tall, stylish Transwoman of a certain age, a writer, a mediator and trainer at the Kitsap Dispute Resolution Center, on the board of the Washington Mediation Association, part of a number of Trans and Pride groups on this side of the water. Eve does Trans trainings for organizations and businesses, and believes we are all in Transition. "What does my very public Transition say about your perhaps quieter one?  Let's talk!" Their presentation is posted on the "Zoom Videos and Resources" page on our website.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Anne Lovejoy</strong>
<p><iframe width="676" height="380" src="https://www.youtube.com/embed/pY3qe3LNLUM" title="Pride Month with Ann Lovejoy and Eve Palay" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
