{{define "event"}}
<div class="event">
<p>
<img src="images/events/2022/007_stephanie_raymond.jpg" alt="photo of Stephanie Raymond">
<strong>Stephanie Raymond</strong>, a lifelong resident of the Salish Sea watershed, presented an overview of whale related issues in the Salish Sea, including the challenges faced by the endangered Southern Resident Killer Whales, boating regulations, current research, and how to report whale sightings. She talked about the good, the bad and what needs to be done for the whales including boating etiquette. Formerly People for Puget Sound's education coordinator, Stephanie has been a marine naturalist and deckhand on board the San Juan Clipper for the past eleven years, and is certified in basic keelboat by US Sailing. She is currently the Education Program Manager for Orca Network, a non-profit organization connecting whales and people in the Pacific Northwest. Her presentation is posted on the "Zoom Videos and Resources" page on our website. Visit their website at <a href="https://www.orcanetwork.org/">https://www.orcanetwork.org</a>
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Stephanie Raymond</strong>
<p><iframe src="https://www.youtube.com/embed/Jxi4xjwgkfc" title="Stephanie Raymond, The Good, the Bad and the Future for our Whales" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<p>Visit their website at <a href="https://www.orcanetwork.org">https://www.orcanetwork.org</a></p>
<p>Below are books Stephanie recommends (Kitsap Regional Library added these to their collection):</p>
<ul>
<li><i>Listening to Whales: What the Orcas Have Taught Us</i> by Alexandra Morton</li>
<li><i>Into Great Silence: A Memoir of Discovery and Loss among Vanishing Orcas</i> by Eva Saulitis</li>
<li><i>Death at Seaworld: Shamu and the Dark Side of Killer Whales in Captivity</i> by David Kirby</li>
</ul>
</div>
{{end}}
