{{define "event"}}
<div class="event">
<p>
<img src="images/events/2022/008_larry_chin.jpg" alt="photo of Larry Chin">
<strong>Larry Chin</strong>, Legal Services Director of KIAC (Kitsap Immigration Assistance Center) presented the Ins and Outs of Immigration Law. Mr. Chin provided a brief history and overview of United States immigration law and processes and offered insights into how past events inform and impact patterns of immigration with a particular focus on new immigrant groups to Kitsap County and Washington State. His presentation is posted on the "Zoom Videos and Resources" page on our website.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Larry Chin</strong>
<p><iframe width="676" height="380" src="https://www.youtube.com/embed/nXAdthKlrWQ" title="Larry Chin, The Ins and Outs of Immigration Law" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
