{{define "event"}}
<div class="event">
<p>
<img src="images/events/2022/009_ward_yohe.jpg" alt="photo of Ward_yohe">
NASA Jet Propulsion Laboratory Solar System Ambassador <strong>Ward Yohe</strong> shared up-to-date information and images depicting past, present, and future exploration of our Solar System in his presentation, "Take a Hike… through our Solar System (and beyond)!" Exploring space takes teamwork, attention to detail, respecting everyone's vital contribution, and more. He discussed how a small fraction of our tax dollars are being spent on robotic and human space endeavors, and what we are learning from those efforts. His presentation is posted on the "Zoom Videos and Resources" page on our website.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Ward Yohe</strong>
<p><iframe width="676" height="380" src="https://www.youtube.com/embed/kQfc7W1Cnq0" title="Ward Yohe, Take a Hike through Our Solar System and Beyond!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
