{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2022/010_maggie_christofferson.jpg" alt="photo of Maggie Christofferson">
<strong>Maggie Christofferson</strong>, Community Outreach Manager for the Washington Chapter of the Alzheimer's Association presented on How to Optimize Brain Health. Maggie has been a caregiver since 1996. She has a bachelors in social work, has taught caregiving classes for the State of Washington for almost eight years, and has been with the Alzheimer's Association for four years. Her presentation will be posted to the "Zoom Links and Resources" page soon.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Maggie Christofferson</strong>
<p>Recommended resources include:</p>
<ul>
<li>Alzheimer's Association website: <a href="https://alz.org">alz.org</a></li>
<li>24/7 Helpline: <a href="tel:800-272-3900">800-272-3900</a></li>
<li>Support Groups and Education: <a href="https://alz.org/findus">alz.org/findus</a></li>
<li>Free Online Training: <a href="https://training.alz.org">training.alz.org</a></li>
</ul>
</div>
{{end}}
