{{define "event"}}
<p>
<img src="images/events/2022/011_steve_edmiston.jpg" alt="photo of Steve Edmiston">
<strong>Steve Edmiston</strong> from Humanities Washington presented, "Whiskey and Wire Taps."  He explored why the youngest lieutenant in Seattle Police Department history formed a secret gang to take over Prohibition bootlegging in the Northwest. Included was "The Good Bootlegger's" story of whiskey-driven politics, culture wars, criminalization of popular social behavior, illegal surveillance, spies, sensational trials, and Constitution-bending trips to the Supreme Court! Visit the "Zoom Links and Resources" page soon for book recommendations.
</p>
{{end}}
{{define "resources"}}
<p>
<strong>Steve Edmiston</strong>
<p>Book Recommendations:</p>
<ol>
<li>Whispering Wires - Philip Metcalfe</li>
<li>The Dry Years - Norman H. Clarke</li>
<li>Last Call - Daniel Okrent (national focus)</li>
<li>Liberated Spirits - Hugh Ambrose/John Schuttler (national focus)</li>
<li>Seattle Prohibition - Brad Holden (local author)</li>
<li>Seattle Mystic - Brad Holden (local author)</li>
</ol>
<p>Video:</p>
<p>Summary of the Olmstead story in a short five minute video: <a href="https://www.youtube.com/watch?v=7qQdjMNmnUg">https://www.youtube.com/watch?v=7qQdjMNmnUg</a></p>
<p>Upcoming fun event:</p>
<p>Bootleggers Ball, December 8, 2022 <a href="https://www.washingtonhistory.org/event/bootleggers-ball/">https://www.washingtonhistory.org/event/bootleggers-ball/</a></p>
</p>
{{end}}
