{{define "event"}}
<p>
<img src="images/events/2017/001_carol_williams.jpg" alt="photo of Carol J. Williams">
<strong>Carol J. Williams</strong> is former senior international affairs writer for the Los Angeles Times. She presented on "Why the US and Russia Find Themselves in a New Cold War." She discussed the evolution of Soviet/US relations over the last several decades and the events that have set the tone for current relations. As a correspondent for the Associated Press in Moscow in the mid-1980s, she covered the last months of the Kremlin Old Guard, the emergence of Mikhail S. Gorbachev as Soviet leader, glasnost, perestroika, the Chernobyl disaster and the economic experiments and political loosening that led to the Soviet breakup. After joining the LA Times in 1990, she covered the breakups of the Soviet Union and Yugoslavia, the Eastern European pro-democracy revolutions and post- communist transformations, independent Russia's Wild East, and wars in the Balkans, Chechnya, Afghanistan, Iraq and Ukraine.
</p>
{{end}}
{{define "resources"}}
<strong><!--NAME--></strong>
<!--resources-->
{{end}}
