{{define "event"}}
<p>
<img src="images/events/2017/002_alan_searle.jpg" alt="photo of Alan Searle">
<strong>Alan Searle, MD</strong>, discussed why he became interested in climate change, presented a brief history of the topic, changes in climate so far, and the medical consequences of climate change. He was trained as a Climate Reality Leader by The Climate Reality Project in 2015. Dr. Searle is a member of Washington Physicians for Social Responsibility, received his medical degree from the University of Cambridge and moved to the United States in 1979. He has lived in Kitsap County since 1984 and worked as a family practitioner in Port Orchard until his recent retirement. His power point presentation as well as list of recommended websites and books will be posted on this website under "Links and Resources."
</p>
{{end}}
{{define "resources"}}
<p>
<strong>Alan Searle</strong>
<p>Suggested sources and websites for reviewing climate change and health.</p>
<p><b>Resources</b></p>
<ol>
<li><a href="https://www.cdc.gov/climateandhealth/pubs/extreme-heat-guidebook.pdf">https://www.cdc.gov/climateandhealth/pubs/extreme-heat-guidebook.pdf</a>  - a recently produced guide to preparing for extreme heat events.</li>
<li><a href="http://ipcc.ch/">http://ipcc.ch/</a> - the Intergovernmental Panel on Climate Change website</li>
<li><a href="http://www.bbc.co.uk/news/resources/idt-5aceb360-8bc3-4741-99f0-2e4f76ca02bb">http://www.bbc.co.uk/news/resources/idt-5aceb360-8bc3-4741-99f0-2e4f76ca02bb</a>  - BBC report - six graphics that explain climate change.</li>
<li><a href="http://www.cnn.com/2017/01/18/world/2016-hottest-year/index.html">http://www.cnn.com/2017/01/18/world/2016-hottest-year/index.html</a> - CNN on 2016 - hottest year on record.</li>
<li><a href="http://www.bbc.com/news/science-environment-35092127-">http://www.bbc.com/news/science-environment-35092127-</a> BBC report on Paris conference in 2015</li>
<li><a href="http://climate.nasa.gov/">http://climate.nasa.gov/</a> - NASA site for climate change.</li>
<li><a href="https://health2016.globalchange.gov/">https://health2016.globalchange.gov/</a> - US government 2016 paper on climate change and health.</li>
<li><a href="http://nca2014.globalchange.gov/report/regions/northwest">http://nca2014.globalchange.gov/report/regions/northwest</a>  - climate changes in the Northwest.</li>
</ol>
<p><b>Books</b></p>
<ol>
<li><u>Dire Predictions</u> - <em>Mann and Kump</em> - Understandable IPCC report</li>
<li><u>How to Change Minds about our Changing Climate</u> - <em>Darling  and Sisterson</em> - Some of the science about climate change.</li>
<li><u>How Culture Shapes and Climate Change Debate</u> - <em>Hoffman</em> - Why logic and science don't always win.</li>
</ol>
</p>
{{end}}
