{{define "event"}}
<div class="event">
<p>
<img src="images/events/2017/004_dean_tingey.jpg" alt="photo of Dean Tingey">
<strong>Dean Tingey</strong>, Executive Director of the Kitsap County Historical Society (www.kitsaphistoricalsociety.org), spoke about "Connecting Through History" and how learning about the past helps people to connect with themselves, their families, and their communities. The Kitsap County Historical Society owns and operates the Kitsap History Museum in downtown Bremerton and the Rural Heritage Building on the Kitsap County Fairgrounds. The society provides educational outreach though programs such as 'Eat Your Way through Kitsap History' and the First Friday Speaker Program. It also hosts the annual Heritage Family Celebration. Volunteers maintain the Kitsap County Register of Historic Sites and perform research services. They also prepare the weekly Time Capsule published each Sunday in the Kitsap Sun and on the Society's Facebook page. Visit our Links and Resources tab for recommended reference material.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Dean Tingey</strong>
<p>Suggested resources:</p>
<ol>
<li>"The Stories That Bind Us." The New York Times, March 15, 2013. <a href="http://www.nytimes.com/2013/03/17/fashion/the-family-stories-that-bind-us-this-life.html?pagewanted=all">http://www.nytimes.com/2013/03/17/fashion/the-family-stories-that-bind-us-this-life.html?pagewanted=all</a></li>
<li><a href="resources/events/2017/004_dean_tingey_the_20_questions_or_do_you_know_scale.docx">The 20 Questions or Do you know Scale</a></li>
<li><a href="resources/events/2017/004_dean_tingey_world_kitsap_personal_timeline.xlsx">World Kitsap Personal Timeline</a></li>
</ol>
</div>
{{end}}
