{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2017/005_stan_stumbo.jpg" alt="photo of Stan Stumbo">
<strong>Stan Stumbo</strong>, chief naval architect for WSF and hobbiest, shared his passion and expertise on 3D printers. Stan printed a 3D object during his presentation and discussed the myriad uses of this technology including the manufacturing of medical prostheses, dental crowns, NASA space station applications, fixing things around the house, studying a piece of ancient history - he printed a replica of the arm bone of 3.5 million year old Lucy. In retirement, Stan currently serves as the studio lead for the machine shop at BARN (Bainbridge Artisan Resource Network), a result of decades of pursuing machine shop work as a hobby.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Stan Stumbo</strong>
Click to see Stan's power point presentation on 3D printing: <a href="/resources/events/2017/005_3d-printers.pdf">Enlightenl3Dprint</a>
</div>
{{end}}
