{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2017/006_alan_bauer.jpg" alt="photo of Alan Bauer">
<strong>Alan Bauer</strong>, a professional photographer specializing in the natural history of the Pacific Northwest and coverage of local history, presented his photograph collection. With the Mountaineers, he co-authored the Day Hiking series. His work has been published in Backpacker, Odyssey, MotorHome, Northwest Runner, CityDog, Northwest Outdoors, Northwest Magazine, Oregon Coast, and Northwest Travel magazines as well as the Getaways weekly outdoor recreation magazine insert for the Seattle Post-Intelligencer. Visit his website: <a href="https://www.alanbauer.com">https://www.alanbauer.com</a>
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Alan Bauer</strong>
<p>Visit Alan's website at <a href="https://www.alanbauer.com">https://www.alanbauer.com</a> and see his entire June 16, 2017 Enl!ghten presentation filmed by Bremerton Kitsap Access Television at <a href="https://vimeo.com/223845462">https://vimeo.com/223845462</a>
</div>
{{end}}
