{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2017/007_susan_andersson.jpg" alt="photo of Orca whale leaping from water">
<strong>Susan Marie Andersson</strong>, of the Orca Network's Bainbridge speakers' bureau, is an expert naturalist and veteran of many years' experience and study of Salish Sea orcas. Orca Network is a 501 (c) (3) non-profit organization registered in Washington State, dedicated to raising awareness about the whales of the Pacific Northwest, and the importance of providing them healthy and safe habitats. A community is emerging that is increasingly attuned to the orca population, that cares about and tries to understand the needs of the resident and transient orcas that inhabit the Salish Sea. <a href="http://www.orcanetwork.org" target="_blank" rel="noopener noreferrer">http://www.orcanetwork.org</a>
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Susan Andersson</strong>
<p>Visit the Salish Sea hydrophone network to listen live or hear archived recordings of Orcas at various locations in the Salish Sea: <a href="http://www.orcasound.net/listen/">http://www.orcasound.net/listen/</a></p>
</div>
{{end}}
