{{define "event"}}
<div class="event">
<p>
<img src="images/events/2023/001_eric_rasmussen.jpg" alt="photo of Eric Rasmussen">
<strong>Dr. Eric Rasmussen</strong> presented "Applied Hope: From the Marshall Islands to Ukraine to Kitsap: a Strategy to Mitigate Climate Harms."  Humanity faces many problems, but there is no shortage of people working to address them. In this presentation Eric Rasmussen, MD, MDM, FACP, CEO Infinitum Humanitarian Systems and the research director for the Kwajalein Atoll Sustainability Laboratory in the remote Pacific, described the broad range of ideas available for self-help in climate adaptation using engineering, culture, and societal change. Some of his team's ideas have recently been adapted for use by the Ukrainian Ministry of Defense. He illustrated how good ideas can be adopted and shaped to meet local needs, even in very low resourced environments as different as tropical Pacific islands and snow-covered Ukrainian villages. Book recommendations are posted on "Zoom Links and Resources" page. Zoom presentation is posted there as well.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Eric Rasmussen</strong>
<p><iframe src="https://www.youtube.com/embed/6lT4OfmEdGw" title="Eric Rasmussen, MD, MDM, FACP: Applied Hope, a Strategy to Mitigate Climate Harms" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<p>Recommend Books:</p>
<ol>
<li>Project Drawdown</li>
<li>Global Risks Report 2022 - World Economic Forum</li>
<li>* Doughnut Economics - Kate Raworth</li>
<li>The Business Solution to Poverty - Paul Polack</li>
<li>* The Future - Al Gore</li>
<li>*Abundance - Peter Diamandis</li>
<li>Gaviotas - Alan Weisman</li>
<li>* Factfulness - Hans Rosling</li>
<li>* Enlightenment Now - Steven Pinker</li>
<li>Biomimicry - Janine Benyus</li>
<li>A Paradise Built in Hell - Rebecca Solnit</li>
<li>* How to Avoid a Climate Disaster - Bill Gates</li>
<li>Healing Earth - John Todd</li>
<li>Worldchanging 2.0 - Alex Steffan</li>
<li>Exponential Organizations - Salim Ismail</li>
<li>Indigenous Pacific Islander Eco-Literature - Kathy Jetnil-Kijiner</li>
<li>The Survival Nexus - Charles Weiss</li>
<li>* Nomad Century - Gaia Vince</li>
<li>A Planet of Three Billion - Christopher Tucker</li>
<li>* Novacene - James Lovelock</li>
<li>* The New Map - Daniel Yergin</li>
<li>* Lessons for the 21st Century - Yuval Harari</li>
<li>Creating a World Without Poverty - Yunus</li>
<li>* The Meaning of Human Existence - E.O. Wilson</li>
<li>The Moral Arc - Michael Sherman</li>
<li>Thinking in Systems - Donella H. Meadows</li>
</ol>
<p>* available at Kitsap Regional Library</p>
</div>
{{end}}
