{{define "event"}}
<div class="event">
<p>
<img src="images/events/2023/002_robert_horton.jpg" alt="photo of Robert Horton">
<strong>Robert Horton</strong>, film critic and member of the Humanities Speakers Bureau presented, "This Is the End: How the Movies Prepared Us for the Pandemic." In this talk illustrated with clips, Robert Horton looked at the eerie imagery of apocalyptic movies, and how these films foreshadowed our responses during the pandemic: the extremes of divisiveness and community-building, the loneliness of isolation, and the tantalizing possibility of starting over again—but maybe doing it better this time. Book and movie recommendations are posted on "Zoom Links and Resources" page.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Robert Horton</strong>
<p>Listen to Robert Horton's programs, The Music and the Movies, at the following link: <a href="https://voiceofvashon.org/the-music-and-the-movies/">https://voiceofvashon.org/the-music-and-the-movies/</a></p>
<p><u>This Is the End: Movie List</u></p>
<ol>
<li>Five</li>
<li>Panic in the Year Zero</li>
<li>The Omega Man *</li>
<li>I Am Legend *</li>
<li>On the Beach</li>
<li>The World, the Flesh, and the Devil *</li>
<li>When Worlds Collide</li>
<li>Melancholia *</li>
<li>2012</li>
<li>The Day After Tomorrow</li>
<li>Children of Men *</li>
<li>Last Night</li>
<li>Armageddon *</li>
<li>Deep Impact</li>
<li>Snowpiercer *</li>
<li>Midnight Sky</li>
<li>Outbreak *</li>
<li>Contagion *</li>
<li>The Seventh Seal *</li>
<li>The Quiet Earth</li>
<li>The Birds *</li>
<li>Don't Look Up</li>
</ol>
<p><u>Book suggestions:</u></p>
<ol>
<li>The War of the Worlds (H.G. Wells) *</li>
<li>I Am Legend (Richard Matheson) *</li>
<li>On the Beach (Neville Shute) *</li>
<li>Children of Men (P.D. James) *</li>
<li>The Birds (Daphne du Maurier) *</li>
</ol>
<p>* available at Kitsap Regional Library</p>
</div>
{{end}}
