{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2023/004_lyanda_haupt.jpg" alt="photo of Lyanda Haupt">
<strong>Lyanda Lynn Haupt</strong> is an award-winning author, naturalist, ecophilosopher, and speaker whose work explores the beautiful, complicated connections between humans and the wild, natural world. She talked about her newest book is
<a href="https://www.amazon.com/gp/product/0316426482">Rooted: Life at the Crossroads of Science, Nature, and Spirit</a> (Little, Brown Spark 2021).
Her writing is acclaimed for combining scientific knowledge with literary, poetic prose. Previous books include:
</p>
<ul class="left">
<li><a href="https://www.amazon.com/dp/0316370894">Mozart's Starling</a></li>
<li><a href="https://www.amazon.com/gp/product/0316178527/">The Urban Bestiary: Encountering the Everyday Wild</a></li>
<li><a href="https://www.amazon.com/gp/product/B0058M5YZQ">Crow Planet: Essential Wisdom from the Urban Wilderness</a></li>
<li><a href="https://www.amazon.com/gp/product/0316836648">Pilgrim on the Great Bird Continent: The Importance of Everything and Other Lessons from Darwin1s Lost Notebooks</a></li>
<li><a href="https://www.amazon.com/gp/product/1570614199">Rare Encounters with Ordinary Birds.</a></li>
</ul>
</p>
</div>
{{end}}
{{define "resources"}}
{{end}}
