{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2023/005_nate_daniel.jpg" alt="photo of Nate Daniel">
<strong>Nate Daniel</strong>, Executive Director of Greater Peninsula Conservancy, discussed the Great Peninsula Conservancy's conservation initiatives. These provide a framework for preservation of the most significant and threatened landscapes of the Great Peninsula. GPC has already protected over 11,408 acres of ecologically important lands and waters, but there is much left to be done. Future conservation projects will focus on lands and waters with high conservation significance, projects that provide connections to other protected areas, and those which have strong community support. For more information or to become involved, visit their website: <a href="https://greatpeninsula.org">https://greatpeninsula.org</a>
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Nate Daniel</strong>
<p><iframe src="https://www.youtube.com/embed/vEdZe-Kzt3s" title="Nathan Daniel: Saving Precious Land and Habitat on the Kitsap Peninsula" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
