{{define "event"}}
<div class="event">
<p>
<img src="images/events/2023/006_stephen_ladd.jpg" alt="photo of Stephen Ladd">
<strong>Stephen Ladd</strong>, Adventurer, Memoirist, Small Boat Expert, presented The Ladd Small-Boat Voyages. Stephen recounted his adventures captured in his book,  "Three Years in a 12-Foot Boat" and his more recent book, "The Five-Year Voyage: Exploring Latin American Coasts and Rivers." These are the true stories of rowing and sailing through 19 countries and 18,000 miles. Robbed, arrested, and shipwrecked, Ladd finds humor in people and beauty in nature. His books are available at Kitsap Regional Library and at your favorite book store. Stephen's presentation is posted on our website.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Stephen Ladd</strong>
<p><iframe width="676" height="380" src="https://www.youtube.com/embed/h155Ht5h6q4" title="Stephen Ladd: The Ladd Small-Boat Voyages" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
