{{define "event"}}
<div class="event">
<p>
<img src="images/events/2023/007_jake_gillanders.jpg" alt="photo of Jake Gillanders">
<strong>Jake Gillanders</strong> presented on Empact International: Local Presence, Global Impact. Jake is a 25-year firefighter currently serving as a captain, medical officer, and Urban Search & Rescue Task Force leader. He is also the executive director of Empact Northwest, a nonprofit dedicated to disaster preparedness and response. This perspective lends valuable insight to the government-nonprofit relationship as well as to disaster preparedness and response. Jake has deployed well over 20 times to locales impacted by disaster around the world, from Oso, Washington to Kathmandu, and all points between! His presentation is available on our Videos and Resources page. You can check out his website for more information or to donate: <a href="https://www.empact.ngo/">https://www.empact.ngo/</a>
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Jake Gillanders</strong>
<p><iframe src="https://www.youtube.com/embed/27GlzlDI32k" title="Jake Gillanders: Empact International: Local Presence, Global Impact" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
