{{define "event"}}
<div class="event">
<p>
<img src="images/events/2023/008_ward_yohe.jpg" alt="photo of Ward Yohe">
NASA Jet Propulsion Laboratory Solar System Ambassador <strong>Ward Yohe</strong> presented up-to-date information and images depicting past, present, and future exploration of our Solar System. For those that have seen the presentation in the past, although the orientation of our Sun and Planets (as well as the fundamental laws of physics) has remained relatively constant for millions of years, the never-ending exploratory efforts of human beings bring new and exciting discoveries on an almost daily basis in this golden age - when we are just now dipping a toe into the vast celestial seas. There are always new and exciting information and images to share. Ward's presentation can be viewed on our website and also accessed from youtube.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Ward Yohe</strong>
<p><iframe src="https://www.youtube.com/embed/hT3wFtdsp70" title="Ward Yohe: Take a Hike Through the Solar System (and Beyond) - the Journey Continues" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
{{end}}
