{{define "event"}}
<div class="event">
<p>
<img src="images/events/2019/001_paul_bannick.jpg" alt="photo of Paul Bannick">
<strong>Paul Bannick</strong>, award-winning author, and wildlife photographer presented his latest photos from his most recent book, <b><i>Owl: A Year in the Lives of North American Owls.</i></b> He has documented rare images as the owls move through each stage of their life: courtship, mating, and nesting in spring; feeding of young and fledging in summer; dispersal and gaining independence in fall; and finally, winter's migrations and competitions for food. The book shows how owls use the unique resources available to them in each habitat to overcome the challenges of each season. Visit his website at <a href="http://www.paulbannick.com/">www.paulbannick.com</a>
</p>
</div>
{{end}}
{{define "resources"}}
{{end}}
