{{define "event"}}
<div class="event">
<p>
<img src="images/events/2019/002_mary_slaughter.jpg" alt="photo of Mary Lou Slaughter">
<strong>Mary Lou Slaughter</strong> is the great-granddaughter of Chief Sealth, the Native American chief after whom the city of Seattle was named. She spoke of growing up in Manette and of her people, the Duwamish, who today have no land base or federal recognition. Her people helped the Denny party survive their first winter in Puget Sound. She embraced her heritage as an adult and is now a renowned master basket weaver. In 2000, she entered her first Native American "Indian Art Northwest" show in Portland, Oregon,  winning first, second and third places. She teaches classes from her home. Her work is available for purchase in the Burke Museum gift shop at the University of Washington and directly from her. Her work can also be seen at the Log House Museum in West Seattle for the 150-year celebration of the founding of Seattle.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Mary Lou Slaughter</strong>
<p>Mary Lou's profile at NW Basket Weavers Guild: <a href="http://www.nwbasketweavers.org/profiles/MaryLouSlaughter.html">http://www.nwbasketweavers.org/profiles/MaryLouSlaughter.html</a></p>
<p>Kitsap Daily News article on Master Basket Maker Ed Carriere: <a href="https://www.kitsapdailynews.com/life/suquamish-master-artist-brings-works-back-to-life-kitsap-weekly/">https://www.kitsapdailynews.com/life/suquamish-master-artist-brings-works-back-to-life-kitsap-weekly/</a></p>
<p>Curtis Comes Back to Seattle documentary: <a href="https://www.youtube.com/watch?v=7NaAT2lnckg">https://www.youtube.com/watch?v=7NaAT2lnckg</a></p>
</div>
{{end}}
