{{define "event"}}
<div class="event">
<p>
<img src="images/events/2019/003_zelda_foxall.jpg" alt="photo of Zelda Foxall">
<strong>Zelda Foxall</strong> has been doing in-character vignettes of historically significant African American Women since 2008, when she co-founded the performing arts company "Cause It's Art." Through Zelda, these women step forward to tell their own stories of how they overcame the tremendous odds of poverty, racism, sexism and ignorance to climb to the top of their respective fields or just to step up boldly to change the way things were. Tonight she portrayed Claudette Colvin, a 15-year-old girl who was arrested nine months before Rosa Parks for refusing to give up her seat on a bus in Montgomery, Alabama. Zelda's 38-year career focused on civil rights in multiple capacities. She now volunteers for RESULTS, an anti-poverty organization, and AARP, where she advocates for Medicaid, economic security, housing, hunger, fraud, health care, and safety net programs that support older adults.
</p>
</div>
{{end}}
{{define "resources"}}
{{end}}
