{{define "event"}}
<div class="event">
<p>
<img src="images/events/2019/004_janine_schutt.jpg" alt="photo of Janine Schutt">
<strong>Janine Schutt</strong>, past president of the Kitsap Audubon Society and bird columnist for West Sound Home and Garden magazine, presented on landscaping for backyard bird habitats. She plants her gardens with two things in mind: birds and beauty. In this presentation, Janine discussed the importance of planting native vegetation and plant species that attract the most birds. She covered topics such as providing natural cover from predators, access to water, nesting cavities, and other ways to make our yards more wildlife friendly. An expert on hummingbird gardens, Janine shared her knowledge of perennials that serve as easy to maintain hummingbird magnets. She specializes in hardy fuchsias and shared which varieties are most appealing to our nectar loving friends. Go to Links and Resources to view her entire power point presentation and visit her website at: <a href="http://janineschuttnaturephotography.com">http://janineschuttnaturephotography.com</a>
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Janine Schutt</strong>
<p>Janine's power point presentation can been viewed at this link: <a href="resources/events/2019/004_janine_schutt_bird_friendly_gardens.pdf">Bird Friendly Gardens</a></p>
<p>Be sure to visit Janine's website to view her extraordinary nature photographs: <a href="https://www.janineschuttnaturephotography.com">https://www.janineschuttnaturephotography.com</a></p>
</div>
{{end}}
