{{define "event"}}
<div class="event">
<p>
<img src="images/events/2019/007_westsound_wildlife_shelter.jpg" alt="photo of barred owl">
<strong>Mike Etgen</strong> and <strong>Bart Kale</strong>, volunteers with the Westsound Wildlife Shelter, presented to Enl!ghten. This wild animal medical facility is able to rescue, diagnose, treat, and release injured and orphaned wildlife. The Shelter treats more than 1,700 injured, orphaned and sick wildlife and gives them a second chance at life. They promote the well-being of wildlife and their habitats through outreach and education. Mike and Bart brought three birds: a Western Screech Owl, Peregrine Falcon, and Barred Owl undergoing rehabilitation. Please visit their website: <a href="https://www.westsoundwildlife.org">www.westsoundwildlife.org</a> to see how you can help. Donations of produce, meat, sheets, towels, among other items are welcomed. Call first! <a href="tel:206-855-9057">206-855-9057</a>
</p>
</div>
{{end}}
{{define "resources"}}
{{end}}
