{{define "event"}}
<div class="event">
<p>
<img src="images/events/2019/008_rich_renner.jpg" alt="photo of Rich Renner">
<strong>Rich Renner</strong> was a pediatrician in Kitsap County with Group Health prior to moving in 2015 to Las Cruces, New Mexico, to work at La Clinica de Familia, a community health clinic serving primarily low income Mexican-American families. After retiring he has volunteered at various hospitality centers for released refugees at the U.S. Mexican border - in El Paso, TX, and Las Cruces. These centers provide short term shelter, meals, medical care, and assistance in arranging travel of immigrants to their sponsors around the U.S. He shared reflections on volunteering with the border hospitality centers that address the needs of recently released refugees, primarily from Central America. These centers serve parents and children. Options for helping address the humanitarian crisis created by our government were addressed. See our links and resources page for Richard's power point presentation.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Rich Renner</strong>
<p>You can access Richard's power point presentation at this link: <a href="https://onedrive.live.com/view.aspx?resid=5349827A62A26DD5!1377&amp;ithint=file%2cpptx&amp;authkey=!AL8quGR_CbhhGg4">https://onedrive.live.com/view.aspx?resid=5349827A62A26DD5!1377&amp;ithint=file%2cpptx&amp;authkey=!AL8quGR_CbhhGg4</a></p>
</div>
{{end}}
