{{define "event"}}
<p>
<img src="images/events/2019/009_martha_burke.jpg" alt="photo of Martha Burke">
<strong>Martha Burke</strong> and <strong>Janet Stegemeyer</strong> from the League of Women Voters Water Committee presented<i> A Practical Guide to Kitsap Water</i>, an exhaustive resource that addresses Kitsap County's water sources, drinking water, waste water and storm water, and our role in protecting our water supply. Martha, having a Master's Degree in Public Administration with a focus on Environmental Management, has worked with the EPA, implemented the Puget Sound Estuary Program's Urban Bay Approach to toxic cleanup, developed
<img class="right" src="images/events/2019/009_janet_stegemeyer.jpg" alt="photo of Janet Stegemeyer">
Seattle's Environmental Action Agenda, King County's Local Hazardous Waste Plan, and Chaired the Executive Council for the Washington State Ferry Advisory Council. Janet is a retired North Mason High School Teacher with an MAT in English. She is active in the League of Women Voters and has had a passion for exploring and protecting the environment since early childhood. Water is Life!
</p>
{{end}}
{{define "resources"}}
<p>
<strong>Martha Burke and Janet Stegemeyer</strong>
<p>Martha's power point presentation is available at this link: <a href="resources/events/2019/009_martha_burke_water-resources-presentation-10-18-19.pptx">Water Resources presentation 10-18-19</a></p>
<p><em>A Practical Guide to Kitsap Water</em> can be viewed here: <a href="resources/events/2019/009_martha_burke_a-practical-guide-to-water-LWV.pdf">A Practical Guide to Water, LWV</a></p>
<p>Visit the League of Women's Voters website. <a href="https://www.lwv-kitsap.org">https://www.lwv-kitsap.org.</a> There you will find a calendar of events and further information about the League. "In addition to <a href="https://www.lwv-kitsap.org//advocacy/voting-democracy/">registering voters</a>, we work hard to educate the public with <a href="https://www.lwv-kitsap.org//advocacy/voting-democracy/">candidate forums</a> and <a href="https://www.lwv-kitsap.org//advocacy/community-education/">community education forums</a> discussing topics that affect Kitsap County. Many members participate in various <a href="https://www.lwv-kitsap.org//advocacy/">advocacy committees</a> to tackle complex problems that our community and country faces."</p>
</p>
{{end}}
