{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2019/010_po_karczewski.jpg" alt="photo of Po Karczewski">
<strong>Po and Christine Karczewski</strong>, co-founders of The Healing Field and Mt. Tahoma Sanctuary, introduced the documentary, CRAZYWISE, followed by a discussion centered around its impact and the re-thinking of mental health crises. Po worked as a Critical Care RN and an
<img class="right" src="images/events/2019/010_christine_karczewski.jpg" alt="photo of PoChristine Karczewski">
RN manager for eight years at Western State Hospital. He worked for 15 years as a Psychiatric Nurse Practitioner and prescribing team leader at Greater Lakes Mental Healthcare, a Pierce County community mental health agency, seeing adults, adolescents and children. He is currently providing psychiatric services for an inpatient drug and alcohol treatment facility. Po has always been an advocate for more cautious and judicious use of psychiatric medication. Christine is an Energy Healer, Psychiatric Nurse Practitioner, Massage Therapist, and Family Constellations Facilitator with 18 years experience in mind/body/heart/spirit centered approaches to emotional and spiritual healing. She envisions a new mental health paradigm that embraces a spiritual, mind/body connecting, heart-centered, relational approach for individuals and their families who are suffering and in crisis. Visit our Links and Resources page.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Po and Christine Karczewski</strong>
<p>The movie, CRAZYWISE, can be checked out from the Kitsap Regional Library.</p>
<p>Link to the Healing Field: <a href="https://www.thehealingfield.org">https://www.thehealingfield.org</a></p>
<p>Link to Rethinking Psychiatry: <a href="http://www.rethinkingpsychiatry.org">http://www.rethinkingpsychiatry.org</a></p>
<p>Link to Mt. Tahoma Sanctuary: <a href="https://www.mounttahomasanctuary.org">https://www.mounttahomasanctuary.org</a></p>
</div>
{{end}}
