{{define "event"}}
<div class="event">
<p>
<img src="images/events/2015/001_jeanette_franks.jpg" alt="photo of Jeanette Franks">
<strong>Jeannette Franks, PhD</strong>, is a passionate gerontologist and for over 20 years has taught ethics, grief and loss, and courses on geriatrics and gerontology for the University of Washington. She discussed her most recent book, <i>To Move or To Stay Put: A Guide for Your Last Decade  </i><i><a href="http://www.jeannettefranks.org">www.jeannettefranks.org</a>  </i>Links to recommended websites can be found at "Links and Resources" on this website.
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Jeannette Franks, PhD</strong>
<p>Jeannette's book, To Move Or To Stay Put, A Guide to Your Last Decades: <a href="http://www.amazon.com/dp/1937358550">http://www.amazon.com/Move-Stay-Put-Guide-Decades/dp/1937358550/</a></p>
<p>Jeannette's website, <a href="http://jeannettefranks.org">http://jeannettefranks.org</a></p>
<p>Living will: <a href="https://compassionwa.org/advance-directive/">https://compassionwa.org/advance-directive/</a></p>
<p>Village to Village: <a href="http://www.vtvnetwork.org">http://www.vtvnetwork.org</a></p>
<p>Kitsap County Division of Aging:  <a href="http://www.kitsapgov.com/altc/">http://www.kitsapgov.com/altc/</a></p>
</div>
{{end}}