{{define "event"}}
<p>
<img src="images/events/2015/002_jill_clarridge.jpg" alt="photo of Jill E. Clarridge, III">
<strong>Jill E. Clarridge, III</strong>, presented on Epigenetics: " 'The next big thing' for understanding the weird and wonderful variations in our health and behaviors." Epigenetics is the study, in the field of genetics, of cellular and physiological phenotypic trait variations that are caused by external or environmental factors that switch genes on and off and affect how cells read genes instead of being caused by changes in the DNA sequence. Google "Epigenetics" and see what you have been missing!
</p>
{{end}}
{{define "resources"}}
{{end}}