{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2015/003_kevin_koski.jpg" alt="photo of Kevin Koski">
<strong>Kevin Koski</strong> presented a slide show and talk on his most recent adventure of hiking the entire length of the 2,668 mile long Pacific Crest National Scenic Trail. He is also passionate about his work on the Board of Kitsap County Food Co-op working hard to open a much needed grocery store in downtown Bremerton. <a href="http://www.trailjournals.com/about.cfm?trailname=14279">http://www.trailjournals.com/about.cfm?trailname=14279</a>
</p>
</div>
{{end}}
{{define "resources"}}
<div class= "resource">
<strong>Kevin Koski</strong>
<p>Kitsap Community Food Coop: <a href="http://kitsapfood.coop">http://kitsapfood.coop</a></p>
</div>
{{end}}