{{define "event"}}
<div class="event">
<p>
<img src="/images/events/2015/004_kriss_kevorkian.jpg" alt="orca whale jumping from water">
<strong>Kriss Kevorkian, Ph.D.</strong>, MSW, discussed environmental grief®, the grief reaction stemming from the environmental loss of ecosystems caused by natural or man-made events. She provides educational workshops, and writes on the subjects of dying/death, caregiving, grief/loss, animal companion loss, and grief related to environmental loss. She hosts Death Cafés and has a private practice helping clients sail through the sometimes stormy seas at the end of life and through their grief. <a href="http://drkkevorkian.com/">http://drkkevorkian.com</a>
</p>
</div>
{{end}}
{{define "resources"}}
{{end}}