{{define "event"}}
<div class="event">
<p>
<img src="images/events/future/009_drea_bowen.jpg" alt="photo of Drea Bowen laughing with horse eating grass">
<strong>Drea Bowen, MSW, ESA, Certified Counselor, and Board Certified Life and Health Coach is the Chair of the Board of Directors for One Heart Wild Education Sanctuary</strong>.
<img class="right" src="images/events/future/009_cow.jpg" alt="photo of cow">
This organization is dedicated to advancing human understanding of Trans-species Psychology and to using their knowledge of it to improve the health and well-being of their clients. Their sanctuary is not only designed for client services, but also for the needs of the non-human
animals that live there. They consider advocacy for the humane treatment of animals and responsible environmental stewardship to be essential parts of their organizational mission. Their educational programs include elementary school presentations on animals and empathy, and event speaker presentations on our therapy services and educational programs, and other topics.
</p>
<p>Drea's lifelong passion for non-human animals, nature, and the environment along with her commitment to empowering people to heal their relationship with self, each other, our animal kin, and the natural world led to the creation of the trauma-informed nonprofit; One Heart Wild Therapeutic Sanctuary and ROOTS Institute. ROOTS Institute certifies therapists, educators, and others working within the human-animal interface, in Animal/Equine Assisted and Nature-Based Therapeutic Services. ROOTS Institute meets the American Counseling Association facilitator competencies for Animal-Assisted Intervention training.</p>
<p>Drea has worked full time with youth, teens, and adults since 2010, prior to that she spent decades managing and volunteering for nonprofit organizations. Drea's advocacy to end suffering and heal psychological harm for humans and our animal kin is highlighted in One Heart Wild's humane education programs. Trans-species psychology teaches us that social animals are more alike than different from us, and it calls us all to heal the connections between nature, humans, and non-human animals.</p>
<img src="images/events/future/009_chicken.jpg" alt="photo of Tina the chicken">
<img src="images/events/future/009_guinea_pigs.jpg" alt="photo of guinea pigs: Shyla and Twylah">
<img src="images/events/future/009_goat.jpg" alt="photo of goat">
</div>
{{end}}
{{define "resources"}}
<!--<div class="resource">-->
<!--<strong>NAME</strong>-->
<!--<p>resources</p>-->
<!--</div>-->
{{end}}
