{{define "event"}}
<div class="event">
<p>
<img src="/images/events/future/010_josh_farley.jpg" alt="photo of Josh Farley">
<strong>Josh Farley</strong> is an award-winning journalist who has written extensively in publications including the Kitsap Sun, part of the USA Today (Gannett) newspaper chain. He lives in East Bremerton with his family.</p>
<p><img src="/images/events/future/010_trees_1.jpg" alt="photo of trees and trail volunteers">In 2020, Farley and a team of volunteers decided to take on restoration of a trashed, overgrown city park known as the Madrona Trails.</p>
<p>Forested lands in urban areas have only become more treasured in a time of deforestation and climate change. They offer an oasis of calm for residents and recent scientific studies have shown how they keep communities cooler and healthier than those entirely paved over.</p>
<img class="right" src="/images/events/future/010_trees_2.jpg" alt="photo of trees">
<p>Farley will tell the story of this transformation in one Bremerton neighborhood, in the hopes it will inspire others to help rejuvenate their own urban forests, too. Our quality of life depends on it.</p>
<img src="/images/events/future/010_trees_3.jpg" alt="photo of trees and sunset">
<p>&nbsp;</p>
</div>
{{end}}
{{define "resources"}}
{{/* <div class= "resource">
<strong>Josh farley</strong>
<!--<p>resources</p>-->
</div> */}}
{{end}}
