{{define "event"}}
<div class="event">
<p>
<img src="/images/events/future/010_david_fenner.jpg" alt="photo of David Fenner">
<p><strong>Afghanistan: "The Graveyard of Empires?"</strong></p>
<img class="right" src="images/events/future/010_afghanistan.jpg" alt="map of Afghanistan">
<p>A Conversation with <strong>David Fenner</strong>, Adjunct Faculty, Middle East Center, University of Washington</p>
<p>During this session we will explore the long and contentious history of Afghanistan, a land that has bedeviled both neighbor and far-off imperial powers alike. Reaching as far back as the successful conquest of this mountainous region by Alexander the Great, we will bring the discussion right up to today's tragic headlines. A Resource List will be provided for folks who would like a deeper dive into the long historical record and who also want to lend a hand. Bring your questions and observations about this complex and oft-embattled land.</p>
<p>David Fenner is an affiliate faculty member at the UW's Jackson School of International Studies. Spring Quarter / 2022 he taught <i>The Middle East Refugee Crisis: Local and Global Responses</i>. He is also the lead presenter for the federally-funded "Bridging Cultures" project, which offers professional development workshops for K-12 teachers and first responders in communities with growing populations of immigrants. In the late 1970s Fenner and his wife spent three years in the Sultanate of Oman as Peace Corps Volunteers. In 2007 they returned to the Arabian Peninsula to found an educational center for Arab and Western students that is designed to explore language, history, faith, natural resources, and diplomacy.</p>
</div>
{{end}}
{{define "resources"}}
<!--<div class="resource">-->
<!--<strong>NAME</strong>-->
<!--<p>resources</p>-->
<!--</div>-->
{{end}}
